# Análise com o resultado do rating

In [3]:
import os
import dotenv

import boto3
import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error

from sklearn.dummy import DummyRegressor
from sklearn.ensemble import RandomForestRegressor

import seaborn as sns
from matplotlib import pyplot as plt

import pickle
import shutil

import locale

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
rootPath = os.getcwd()
dataPath = os.path.join(rootPath, 'data')
modelsPath = os.path.join(rootPath, 'models')
env = os.path.join(rootPath, '.env')
dotenv.load_dotenv(dotenv_path=env)

True

In [6]:
import locale

locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

def formatar_moeda(valor):
    return locale.currency(valor, grouping=True)

# 01) Importando dados

In [7]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id=os.getenv("AWS_ACESS_KEY"),
    aws_secret_access_key=os.getenv("AWS_SECRET_ACESS_KEY")
    )

def read_s3(bucket_name, folder_name, file_name):
    file_key_aws = folder_name + file_name
    obj = s3.Bucket(bucket_name).Object(file_key_aws).get()
    df = pd.read_csv(obj['Body'], sep=';')
    return df

# QUERY VERSÃO 1 - ANÁLISES

In [44]:
tbl_debitos_dam = r'C:\Users\Consultor\Documents\bases_pesquisa\verificacao\tbl_dam.csv'
debitos_divida = pd.read_csv(tbl_debitos_dam)
debitos_divida

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [7]:
dd = debitos_divida[debitos_divida['ano_fato_gerador'] == 2016]
dd

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
4,000032f6d93a0abd,b8cf2b607f401535eeaa6b163b2f9024,71fc88ab6bbb201c344d77602867ec09,2016.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,1946.50,0.00,1852.10
13,00006a4fa855b308,f02cff9218e0fb81eeaa6b163b2f9024,d87e514082d2101ed4613fe022d53698,2016.0,1.0,48.85,1,P,APARTAMENTO,CONSTRUÍDA,IPUTINGA,2008-12-11 22:40:00,1,0,1,212.80,0.00,175.04
17,0000a2cbd951c1ca,35d7656f6131adc4eeaa6b163b2f9024,c2357fdb65f5cbed8e79cf1867e8cc19,2016.0,1.0,174.01,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 21:52:00,1,0,1,2356.70,0.00,2262.30
27,0000c599ab737fa1,720bdd5593728933eeaa6b163b2f9024,4c375f5fe6f11e99cd124eb8021f7dca,2016.0,1.0,125.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 23:02:50,1,0,1,880.90,0.00,786.50
45,0000fe7e1c1dbbe4,620a1ce8ee04f3f5eeaa6b163b2f9024,ec4080f1474d5e63d4613fe022d53698,2016.0,1.0,81.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VISTA,2008-12-11 16:41:41,1,0,1,644.80,0.00,550.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205229,NaN,fffa93f915d816bceeaa6b163b2f9024,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1,1,0.00,416.46,416.46
4205269,NaN,fffc83d7044e921e2b46f673bf0c6125,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,91.31,0.00,89.99
4205288,NaN,fffd2265594cf0d14c1f696350fff79e,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1,1,0.00,3045.58,3045.58
4205298,NaN,fffd432719007e13eeaa6b163b2f9024,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,344.17,0.00,339.45
4205351,NaN,ffffa95ab3cedab8eeaa6b163b2f9024,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,707.84,0.00,693.68

---

In [43]:
formatar_moeda(debitos_divida['vlr_total_dam'].sum())

'R$ 6.990.079.245,86'

In [72]:
soma_por_ano = debitos_divida.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1976.0,"R$ 0,00","R$ 861,68","R$ 0,00","R$ 861,68"
1,1980.0,"R$ 578,18","R$ 1.578,18","R$ 0,00","R$ 1.000,00"
2,1981.0,"R$ 613,62","R$ 1.533,08","R$ 0,00","R$ 919,46"
3,1982.0,"R$ 608,45","R$ 1.500,52","R$ 0,00","R$ 892,07"
4,1983.0,"R$ 557,99","R$ 550,39","R$ 0,00","R$ -7,60"
5,1984.0,"R$ 532,04","R$ 3.105,17","R$ 0,00","R$ 2.573,13"
6,1985.0,"R$ 1.268,00","R$ 26.610,98","R$ 5.199,77","R$ 25.342,98"
7,1986.0,"R$ 0,00","R$ 44.353,28","R$ 4.388,06","R$ 44.353,28"
8,1987.0,"R$ 840.101,23","R$ 12.774.627,76","R$ 10.519.773,81","R$ 11.934.526,53"
9,1988.0,"R$ 25.766,99","R$ 1.888.276,47","R$ 1.801.321,30","R$ 1.862.509,48"
10,1989.0,"R$ 2.561.293,97","R$ 1.058.218.239,16","R$ 1.055.539.421,79","R$ 1.055.656.945,19"
11,1990.0,"R$ 90.128.810,06","R$ 263.121.780,61","R$ 163.773.544,43","R$ 172.992.970,55"
12,1991.0,"R$ 6.238.202,46","R$ 41.883.224,02","R$ 31.722.428,40","R$ 35.645.021,56"
13,1992.0,"R$ 80.364.567,79","R$ 93.123.746,65","R$ 2.654.062,80","R$ 12.759.178,86"
14,1993.0,"R$ 17.624.596,92","R$ 50.978.697,62","R$ 18.208.815,85","R$ 33.354.100,70"
15,1994.0,"R$ 5.282.902,44","R$ 8.428.225,14","R$ 775.498,75","R$ 3.145.322,70"
16,1995.0,"R$ 1.031.803,97","R$ 7.258.210,36","R$ 2.135.828,03","R$ 6.226.406,39"
17,1996.0,"R$ 7.158.636,95","R$ 63.938.598,89","R$ 53.427.649,59","R$ 56.779.961,94"
18,1997.0,"R$ 9.298.277,57","R$ 151.227.026,94","R$ 140.549.996,69","R$ 141.928.749,37"
19,1998.0,"R$ 2.629.009,62","R$ 51.364.070,20","R$ 47.419.471,20","R$ 48.735.060,58"
20,1999.0,"R$ 1.410.431,11","R$ 83.330.739,24","R$ 72.730.126,13","R$ 81.920.308,13"
21,2000.0,"R$ 2.413.531,70","R$ 88.024.538,08","R$ 57.450.755,23","R$ 85.611.006,38"
22,2001.0,"R$ 1.620.701,68","R$ 73.459.896,93","R$ 45.206.662,50","R$ 71.839.195,25"
23,2002.0,"R$ 181.751,10","R$ 29.970.236,02","R$ 2.696.439,20","R$ 29.788.484,92"
24,2003.0,"R$ 7.097.919,00","R$ 37.338.432,06","R$ 4.434.097,91","R$ 30.240.513,06"
25,2004.0,"R$ 2.831.789,02","R$ 35.603.071,02","R$ 6.834.856,83","R$ 32.771.282,00"
26,2005.0,"R$ 2.550.212,25","R$ 37.330.840,86","R$ 7.166.798,78","R$ 34.780.628,61"
27,2006.0,"R$ 4.075.268,31","R$ 35.609.262,68","R$ 9.095.228,55","R$ 31.533.994,37"
28,2007.0,"R$ 4.558.700,72","R$ 37.840.201,26","R$ 11.185.494,48","R$ 33.281.500,54"
29,2008.0,"R$ 6.226.251,51","R$ 45.017.414,89","R$ 16.242.883,28","R$ 38.791.163,38"
30,2009.0,"R$ 169.842.369,91","R$ 211.796.044,48","R$ 20.314.165,32","R$ 41.953.674,57"
31,2010.0,"R$ 5.280.144,16","R$ 96.034.409,43","R$ 65.606.684,93","R$ 90.754.265,27"
32,2011.0,"R$ 9.555.146,85","R$ 92.730.805,45","R$ 63.196.163,38","R$ 83.175.658,60"
33,2012.0,"R$ 11.930.437,06","R$ 198.205.016,10","R$ 167.258.707,33","R$ 186.274.579,04"
34,2013.0,"R$ 48.202.129,03","R$ 84.768.326,32","R$ 18.496.267,75","R$ 36.566.197,29"
35,2014.0,"R$ 59.680.851,97","R$ 93.708.029,46","R$ 30.059.136,39","R$ 34.027.177,49"
36,2015.0,"R$ 82.998.899,19","R$ 142.214.474,13","R$ 57.884.770,34","R$ 59.215.574,94"
37,2016.0,"R$ 1.457.627.013,54","R$ 23.599.021.434,73","R$ 21.980.738.776,08","R$ 22.141.394.421,19"
38,2017.0,"R$ 2.659.869.512,44","R$ 23.350.408.892,74","R$ 20.523.530.817,85","R$ 20.690.539.380,30"
39,2018.0,"R$ 2.745.183.471,91","R$ 25.704.249.175,04","R$ 22.905.830.485,16","R$ 22.959.065.703,13"
40,2019.0,"R$ 714.652.388,76","R$ 998.021.220,25","R$ 220.271.477,45","R$ 283.368.831,49"
41,2020.0,"R$ 720.233.762,95","R$ 831.316.218,97","R$ 84.625.257,84","R$ 111.082.456,02"
42,2021.0,"R$ 768.103.735,70","R$ 1.826.396.623,58","R$ 994.064.870,91","R$ 1.058.292.887,88"
43,2022.0,"R$ 883.527.476,08","R$ 1.392.889.409,27","R$ 451.722.256,53","R$ 509.361.933,19"
44,2023.0,"R$ 833.722.222,31","R$ 1.400.173.283,60","R$ 524.264.228,39","R$ 566.451.061,29"

In [47]:
dams_pagas = debitos_divida[(debitos_divida['vlr_pago'] == debitos_divida['vlr_total_dam'])]
dams_pagas

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
0,000032f6d93a0abd,2d0abb2531f5995c19002eec9f619408,71fc88ab6bbb201c344d77602867ec09,2021.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,2944.10,0.0,2944.10
1,000032f6d93a0abd,393f868ac32df28f4c1f696350fff79e,71fc88ab6bbb201c344d77602867ec09,2019.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,2627.70,0.0,2627.70
2,000032f6d93a0abd,7b9ddc3437bacdef875350beaddc7871,71fc88ab6bbb201c344d77602867ec09,2022.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,3335.10,0.0,3335.10
3,000032f6d93a0abd,b114a952d31c024190ecf5aaf6be6eb7,71fc88ab6bbb201c344d77602867ec09,2023.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,3630.40,0.0,3630.40
5,000032f6d93a0abd,d22fdd2de1578b53e08920064611a7cf,71fc88ab6bbb201c344d77602867ec09,2017.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,2459.37,0.0,2459.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205358,NaN,ffffcfdcdefb134411babe4a46e18b6d,NaN,2018.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,354.90,0.0,354.90
4205359,NaN,ffffd1829c50006711babe4a46e18b6d,NaN,2018.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,555.53,0.0,555.53
4205361,NaN,ffffd81294e264fe0ba9f03948490762,NaN,2020.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,435.19,0.0,435.19
4205362,NaN,ffffdf41159b669d4c1f696350fff79e,NaN,2019.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,278.34,0.0,278.34
4205364,NaN,ffffe0f065516d9ee08920064611a7cf,NaN,2017.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,259.22,0.0,259.22

# ARRECADADO POR ANO

In [62]:
soma_por_ano = dams_pagas.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'

}).reset_index()

soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)

soma_por_ano

    ano_fato_gerador           vlr_pago      vlr_total_dam vlr_aberto
0             1985.0          R$ 937,24          R$ 937,24    R$ 0,00
1             1987.0       R$ 61.718,31       R$ 61.718,31    R$ 0,00
2             1988.0            R$ 0,00            R$ 0,00    R$ 0,00
3             1989.0            R$ 0,00            R$ 0,00    R$ 0,00
4             1990.0       R$ 49.851,72       R$ 49.851,72    R$ 0,00
5             1991.0        R$ 3.151,84        R$ 3.151,84    R$ 0,00
6             1992.0        R$ 5.932,59        R$ 5.932,59    R$ 0,00
7             1993.0      R$ 199.570,84      R$ 199.570,84    R$ 0,00
8             1994.0       R$ 33.166,36       R$ 33.166,36    R$ 0,00
9             1995.0        R$ 3.338,16        R$ 3.338,16    R$ 0,00
10            1996.0      R$ 301.762,48      R$ 301.762,48    R$ 0,00
11            1997.0    R$ 1.535.298,49    R$ 1.535.298,49    R$ 0,00
12            1998.0      R$ 185.769,93      R$ 185.769,93    R$ 0,00
13            1999.0       R$ 59.541,12       R$ 59.541,12    R$ 0,00
14            2000.0        R$ 8.295,64        R$ 8.295,64    R$ 0,00
15            2001.0        R$ 3.042,97        R$ 3.042,97    R$ 0,00
16            2002.0       R$ 33.745,41       R$ 33.745,41    R$ 0,00
17            2003.0    R$ 1.022.589,56    R$ 1.022.589,56    R$ 0,00
18            2004.0      R$ 546.548,09      R$ 546.548,09    R$ 0,00
19            2005.0      R$ 425.775,80      R$ 425.775,80    R$ 0,00
20            2006.0      R$ 428.942,49      R$ 428.942,49    R$ 0,00
21            2007.0      R$ 384.649,35      R$ 384.649,35    R$ 0,00
22            2008.0      R$ 658.657,80      R$ 658.657,80    R$ 0,00
23            2009.0      R$ 440.883,17      R$ 440.883,17    R$ 0,00
24            2010.0      R$ 297.868,70      R$ 297.868,70    R$ 0,00
25            2011.0      R$ 396.398,56      R$ 396.398,56    R$ 0,00
26            2012.0      R$ 151.243,30      R$ 151.243,30    R$ 0,00
27            2013.0      R$ 186.009,18      R$ 186.009,18    R$ 0,00
28            2014.0      R$ 363.832,09      R$ 363.832,09    R$ 0,00
29            2015.0    R$ 6.457.751,89    R$ 6.457.751,89    R$ 0,00
30            2016.0   R$ 22.520.656,68   R$ 22.520.656,68    R$ 0,00
31            2017.0  R$ 549.572.429,56  R$ 549.572.429,56    R$ 0,00
32            2018.0  R$ 430.228.963,46  R$ 430.228.963,46    R$ 0,00
33            2019.0  R$ 532.549.393,71  R$ 532.549.393,71    R$ 0,00
34            2020.0  R$ 527.064.984,90  R$ 527.064.984,90    R$ 0,00
35            2021.0  R$ 595.282.318,52  R$ 595.282.318,52    R$ 0,00
36            2022.0  R$ 679.104.828,38  R$ 679.104.828,38    R$ 0,00
37            2023.0  R$ 407.438.312,69  R$ 407.438.312,69    R$ 0,00

In [52]:
formatar_moeda(dams_pagas['vlr_total_dam'].sum())

'R$ 3.758.008.160,98'

In [48]:
dams_não_pagas = debitos_divida[(debitos_divida['vlr_pago'] == 0)]
dams_não_pagas

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
15,00006a4fa855b308,fd695ecd2d8cc7762fdf6d5f8117540c,d87e514082d2101ed4613fe022d53698,2013.0,1.0,48.85,1,P,APARTAMENTO,CONSTRUÍDA,IPUTINGA,2008-12-11 22:40:00,0,1,1,0.0,198.15,198.15
26,0000c599ab737fa1,52a09679bbf7a68690ecf5aaf6be6eb7,4c375f5fe6f11e99cd124eb8021f7dca,2023.0,1.0,125.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 23:02:50,0,1,1,0.0,1548.54,1548.54
35,0000d8e55e83b975,4afaf6c7173e4197875350beaddc7871,62067d8c0d1754a5ec24828071529570,2022.0,1.0,144.62,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2017-01-04 16:10:45,0,1,1,0.0,4075.82,4075.82
36,0000d8e55e83b975,85ebc70094dc08ab90ecf5aaf6be6eb7,62067d8c0d1754a5ec24828071529570,2023.0,1.0,144.62,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2017-01-04 16:10:45,0,1,1,0.0,3564.72,3564.72
38,0000e13a7d8d7537,5e6259444ed23a59875350beaddc7871,NaN,2022.0,1.0,61.20,1,P,CASA,CONSTRUÍDA,SAN MARTIN,2008-12-11 19:44:26,0,1,1,0.0,601.44,601.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205360,NaN,ffffd62be294c472875350beaddc7871,NaN,2022.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1,1,0.0,463.85,463.85
4205363,NaN,ffffdf41159b669d875350beaddc7871,NaN,2022.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,1,0.0,0.00,159.72
4205365,NaN,ffffe50b8579275e90ecf5aaf6be6eb7,NaN,2023.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1,1,0.0,137.56,137.56
4205367,NaN,ffffe774bca33c4619002eec9f619408,NaN,2021.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1,1,0.0,442.85,442.85
4205368,NaN,ffffffaad89011e6875350beaddc7871,NaN,2022.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,0,1,1,0.0,157.38,157.38

In [70]:
soma_por_ano = dams_não_pagas.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1976.0,"R$ 0,00","R$ 861,68","R$ 0,00","R$ 861,68"
1,1980.0,"R$ 0,00","R$ 1.007,60","R$ 0,00","R$ 1.007,60"
2,1981.0,"R$ 0,00","R$ 927,06","R$ 0,00","R$ 927,06"
3,1982.0,"R$ 0,00","R$ 899,67","R$ 0,00","R$ 899,67"
4,1984.0,"R$ 0,00","R$ 2.580,73","R$ 0,00","R$ 2.580,73"
5,1985.0,"R$ 0,00","R$ 24.889,19","R$ 5.199,77","R$ 24.889,19"
6,1986.0,"R$ 0,00","R$ 44.353,28","R$ 4.388,06","R$ 44.353,28"
7,1987.0,"R$ 0,00","R$ 11.937.116,44","R$ 10.519.773,81","R$ 11.937.116,44"
8,1988.0,"R$ 0,00","R$ 1.859.367,05","R$ 1.798.016,68","R$ 1.859.367,05"
9,1989.0,"R$ 0,00","R$ 1.055.663.189,89","R$ 1.055.537.630,63","R$ 1.055.663.189,89"
10,1990.0,"R$ 0,00","R$ 166.399.130,43","R$ 163.773.544,43","R$ 166.399.130,43"
11,1991.0,"R$ 0,00","R$ 34.776.298,12","R$ 31.722.428,40","R$ 34.776.298,12"
12,1992.0,"R$ 0,00","R$ 4.658.081,90","R$ 2.653.135,44","R$ 4.658.081,90"
13,1993.0,"R$ 0,00","R$ 32.991.717,75","R$ 18.206.936,51","R$ 32.991.717,75"
14,1994.0,"R$ 0,00","R$ 2.965.883,87","R$ 775.378,36","R$ 2.965.883,87"
15,1995.0,"R$ 0,00","R$ 6.178.572,89","R$ 2.135.759,28","R$ 6.178.572,89"
16,1996.0,"R$ 0,00","R$ 56.861.624,63","R$ 53.423.590,57","R$ 56.861.624,63"
17,1997.0,"R$ 0,00","R$ 142.056.728,58","R$ 140.530.174,33","R$ 142.056.728,58"
18,1998.0,"R$ 0,00","R$ 48.754.126,60","R$ 47.419.306,68","R$ 48.754.126,60"
19,1999.0,"R$ 0,00","R$ 81.929.872,22","R$ 72.713.808,53","R$ 81.929.872,22"
20,2000.0,"R$ 0,00","R$ 85.404.322,98","R$ 57.450.755,23","R$ 85.404.322,98"
21,2001.0,"R$ 0,00","R$ 71.470.867,50","R$ 45.206.570,64","R$ 71.470.867,50"
22,2002.0,"R$ 0,00","R$ 29.258.044,86","R$ 2.649.374,13","R$ 29.258.044,86"
23,2003.0,"R$ 0,00","R$ 29.619.260,99","R$ 3.995.920,54","R$ 29.619.260,99"
24,2004.0,"R$ 0,00","R$ 31.895.181,83","R$ 6.105.150,99","R$ 31.895.181,83"
25,2005.0,"R$ 0,00","R$ 33.774.537,13","R$ 6.420.756,48","R$ 33.774.537,13"
26,2006.0,"R$ 0,00","R$ 30.182.467,43","R$ 8.327.618,41","R$ 30.182.467,43"
27,2007.0,"R$ 0,00","R$ 32.019.465,14","R$ 10.304.559,68","R$ 32.019.465,14"
28,2008.0,"R$ 0,00","R$ 37.788.188,97","R$ 15.393.162,81","R$ 37.788.188,97"
29,2009.0,"R$ 0,00","R$ 41.142.890,67","R$ 19.416.606,03","R$ 41.142.890,67"
30,2010.0,"R$ 0,00","R$ 89.899.732,65","R$ 64.814.852,48","R$ 89.899.732,65"
31,2011.0,"R$ 0,00","R$ 82.355.487,76","R$ 62.350.836,94","R$ 82.355.487,76"
32,2012.0,"R$ 0,00","R$ 185.027.017,47","R$ 166.039.047,18","R$ 185.027.017,47"
33,2013.0,"R$ 0,00","R$ 34.982.889,63","R$ 17.378.963,75","R$ 34.982.889,63"
34,2014.0,"R$ 0,00","R$ 30.974.670,67","R$ 26.919.284,13","R$ 30.974.670,67"
35,2015.0,"R$ 0,00","R$ 52.892.251,75","R$ 50.603.436,67","R$ 52.892.251,75"
36,2016.0,"R$ 0,00","R$ 22.151.145.527,63","R$ 21.965.818.997,19","R$ 22.151.145.527,63"
37,2017.0,"R$ 0,00","R$ 20.667.086.307,56","R$ 20.488.804.236,85","R$ 20.667.086.307,56"
38,2018.0,"R$ 0,00","R$ 22.842.927.266,20","R$ 22.785.033.677,96","R$ 22.842.927.266,20"
39,2019.0,"R$ 0,00","R$ 263.210.326,39","R$ 207.041.119,71","R$ 263.210.326,39"
40,2020.0,"R$ 0,00","R$ 78.421.909,73","R$ 60.559.830,58","R$ 78.421.909,73"
41,2021.0,"R$ 0,00","R$ 1.042.027.027,72","R$ 983.507.826,80","R$ 1.042.027.027,72"
42,2022.0,"R$ 0,00","R$ 465.262.816,16","R$ 413.351.700,61","R$ 465.262.816,16"
43,2023.0,"R$ 0,00","R$ 432.042.724,01","R$ 392.310.420,75","R$ 432.042.724,01"

In [66]:
dams_pagas_parcialmente = debitos_divida[(debitos_divida['vlr_pago'] > 0) & (debitos_divida['vlr_pago'] < debitos_divida['vlr_total_dam'])]
dams_pagas_parcialmente

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
9,00006a4fa855b308,5e47335403663289e08920064611a7cf,d87e514082d2101ed4613fe022d53698,2017.0,1.0,48.85,1,P,APARTAMENTO,CONSTRUÍDA,IPUTINGA,2008-12-11 22:40:00,1,0,1,252.53,0.00,292.30
18,0000a2cbd951c1ca,435620f76ae803e219002eec9f619408,c2357fdb65f5cbed8e79cf1867e8cc19,2021.0,1.0,174.01,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 21:52:00,1,0,1,2636.40,0.00,2646.25
19,0000a2cbd951c1ca,621779c21ab522df875350beaddc7871,c2357fdb65f5cbed8e79cf1867e8cc19,2022.0,1.0,174.01,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 21:52:00,1,0,1,3713.31,0.00,3780.80
23,0000a2cbd951c1ca,d3616069bbb7c23b90ecf5aaf6be6eb7,c2357fdb65f5cbed8e79cf1867e8cc19,2023.0,1.0,174.01,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 21:52:00,1,1,1,3075.36,814.94,3890.30
32,0000d8e55e83b975,1c12b3fbd8a766c24c1f696350fff79e,62067d8c0d1754a5ec24828071529570,2019.0,1.0,144.62,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2017-01-04 16:10:45,1,0,1,3129.69,0.00,3720.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4201724,NaN,ff774fa587c33cc26c624eea554ca8d2,NaN,2003.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,1,1,1297.46,1732.64,3030.10
4203117,NaN,fface1fdd0869c732ae93ff99c4000e8,NaN,1992.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,779.08,0.00,1094.88
4203499,NaN,ffba0e56c0c9879689ee41b44b65fb05,NaN,2005.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,1,1,26929.53,888.95,27818.48
4203652,NaN,ffbf6c5dc50645312b0ed56c63dc92b2,NaN,1997.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,1,1,1837.18,158.23,1995.41
4205179,NaN,fff8b46b888da43c3a8106ce11cbdb09,NaN,2010.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,1,1,188.45,666.41,845.09

In [69]:
soma_por_ano = dams_pagas_parcialmente.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

# Criando a nova coluna 'suposto_valor_devido'
soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

# Formatando as colunas 'vlr_total_dam', 'vlr_pago' e 'vlr_aberto' como moeda
soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1985.0,"R$ 330,76","R$ 784,55","R$ 0,00","R$ 453,79"
1,1988.0,"R$ 1.936,84","R$ 5.233,97","R$ 3.304,62","R$ 3.297,13"
2,1989.0,"R$ 850,69","R$ 2.638,45","R$ 1.791,16","R$ 1.787,76"
3,1990.0,"R$ 33.603.622,63","R$ 41.214.779,36","R$ 0,00","R$ 7.611.156,73"
4,1991.0,"R$ 5.828.486,28","R$ 6.708.086,08","R$ 0,00","R$ 879.599,80"
5,1992.0,"R$ 76.027.065,18","R$ 84.163.019,07","R$ 927,36","R$ 8.135.953,89"
6,1993.0,"R$ 9.434.104,36","R$ 9.859.874,38","R$ 1.879,34","R$ 425.770,02"
7,1994.0,"R$ 3.791.035,23","R$ 3.997.097,64","R$ 120,39","R$ 206.062,41"
8,1995.0,"R$ 762.617,55","R$ 813.702,57","R$ 68,75","R$ 51.085,02"
9,1996.0,"R$ 81.489,51","R$ 212.210,36","R$ 4.059,02","R$ 130.720,85"
10,1997.0,"R$ 130.709,79","R$ 212.633,72","R$ 19.822,36","R$ 81.923,93"
11,1998.0,"R$ 55.064,75","R$ 60.335,32","R$ 164,52","R$ 5.270,57"
12,1999.0,"R$ 16.923,45","R$ 36.680,17","R$ 16.317,60","R$ 19.756,72"
13,2000.0,"R$ 68.221,98","R$ 279.744,42","R$ 0,00","R$ 211.522,44"
14,2001.0,"R$ 72.917,33","R$ 502.586,93","R$ 91,86","R$ 429.669,60"
15,2002.0,"R$ 114.592,72","R$ 645.417,90","R$ 47.065,07","R$ 530.825,18"
16,2003.0,"R$ 1.337.574,67","R$ 2.424.544,42","R$ 438.177,37","R$ 1.086.969,75"
17,2004.0,"R$ 1.117.149,34","R$ 2.031.473,73","R$ 729.705,84","R$ 914.324,39"
18,2005.0,"R$ 1.264.909,30","R$ 2.292.058,68","R$ 746.042,30","R$ 1.027.149,38"
19,2006.0,"R$ 1.345.872,58","R$ 2.743.036,21","R$ 767.554,08","R$ 1.397.163,63"
20,2007.0,"R$ 1.035.451,95","R$ 2.343.061,94","R$ 880.889,23","R$ 1.307.609,99"
21,2008.0,"R$ 610.971,09","R$ 1.756.103,84","R$ 849.653,02","R$ 1.145.132,75"
22,2009.0,"R$ 657.553,16","R$ 1.854.072,24","R$ 897.426,05","R$ 1.196.519,08"
23,2010.0,"R$ 649.398,31","R$ 1.689.639,68","R$ 791.650,34","R$ 1.040.241,37"
24,2011.0,"R$ 731.883,20","R$ 1.809.008,91","R$ 842.965,55","R$ 1.077.125,71"
25,2012.0,"R$ 1.293.824,23","R$ 2.934.260,36","R$ 1.219.539,56","R$ 1.640.436,13"
26,2013.0,"R$ 2.630.786,75","R$ 5.208.392,27","R$ 1.117.254,93","R$ 2.577.605,52"
27,2014.0,"R$ 3.324.931,56","R$ 7.804.711,39","R$ 3.139.683,94","R$ 4.479.779,83"
28,2015.0,"R$ 6.767.345,43","R$ 14.988.123,42","R$ 7.280.760,54","R$ 8.220.777,99"
29,2016.0,"R$ 17.936.098,11","R$ 35.422.232,60","R$ 14.918.694,04","R$ 17.486.134,49"
30,2017.0,"R$ 67.320.153,29","R$ 108.715.597,89","R$ 34.726.581,00","R$ 41.395.444,60"
31,2018.0,"R$ 168.463.628,65","R$ 303.246.627,15","R$ 120.796.807,20","R$ 134.782.998,50"
32,2019.0,"R$ 180.593.759,86","R$ 200.754.883,41","R$ 13.230.357,74","R$ 20.161.123,55"
33,2020.0,"R$ 192.925.425,91","R$ 225.595.336,76","R$ 24.065.427,26","R$ 32.669.910,85"
34,2021.0,"R$ 169.388.841,28","R$ 185.695.748,46","R$ 10.557.044,11","R$ 16.306.907,18"
35,2022.0,"R$ 200.724.566,02","R$ 244.837.351,73","R$ 38.370.555,92","R$ 44.112.785,71"
36,2023.0,"R$ 424.345.312,54","R$ 558.789.093,59","R$ 131.953.807,64","R$ 134.443.781,05"

In [50]:
dams_pagas_superior_a_divida = debitos_divida[(debitos_divida['vlr_pago'] > debitos_divida['vlr_total_dam'])]
dams_pagas_superior_a_divida

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
4,000032f6d93a0abd,b8cf2b607f401535eeaa6b163b2f9024,71fc88ab6bbb201c344d77602867ec09,2016.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,1946.50,0.0,1852.10
13,00006a4fa855b308,f02cff9218e0fb81eeaa6b163b2f9024,d87e514082d2101ed4613fe022d53698,2016.0,1.0,48.85,1,P,APARTAMENTO,CONSTRUÍDA,IPUTINGA,2008-12-11 22:40:00,1,0,1,212.80,0.0,175.04
17,0000a2cbd951c1ca,35d7656f6131adc4eeaa6b163b2f9024,c2357fdb65f5cbed8e79cf1867e8cc19,2016.0,1.0,174.01,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 21:52:00,1,0,1,2356.70,0.0,2262.30
27,0000c599ab737fa1,720bdd5593728933eeaa6b163b2f9024,4c375f5fe6f11e99cd124eb8021f7dca,2016.0,1.0,125.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 23:02:50,1,0,1,880.90,0.0,786.50
45,0000fe7e1c1dbbe4,620a1ce8ee04f3f5eeaa6b163b2f9024,ec4080f1474d5e63d4613fe022d53698,2016.0,1.0,81.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VISTA,2008-12-11 16:41:41,1,0,1,644.80,0.0,550.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205327,NaN,fffe77bd77c1ab46f4df934698e31658,NaN,2006.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,185.40,0.0,182.71
4205340,NaN,ffff29c6afbd6f7f3d648baf21387e6f,NaN,2014.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,412.28,0.0,407.99
4205349,NaN,ffff9c9f7e78fa7be67cda4bf42b9b53,NaN,2015.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,295.72,0.0,291.43
4205351,NaN,ffffa95ab3cedab8eeaa6b163b2f9024,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,707.84,0.0,693.68
4205366,NaN,ffffe769552b3339a938dbf400be2d91,NaN,2008.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,707.98,0.0,699.94

In [71]:
soma_por_ano = dams_pagas_superior_a_divida.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

# Criando a nova coluna 'suposto_valor_devido'
soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

# Formatando as colunas 'vlr_total_dam', 'vlr_pago' e 'vlr_aberto' como moeda
soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1980.0,"R$ 578,18","R$ 570,58","R$ 0,00","R$ -7,60"
1,1981.0,"R$ 613,62","R$ 606,02","R$ 0,00","R$ -7,60"
2,1982.0,"R$ 608,45","R$ 600,85","R$ 0,00","R$ -7,60"
3,1983.0,"R$ 557,99","R$ 550,39","R$ 0,00","R$ -7,60"
4,1984.0,"R$ 532,04","R$ 524,44","R$ 0,00","R$ -7,60"
5,1987.0,"R$ 778.382,92","R$ 775.793,01","R$ 0,00","R$ -2.589,91"
6,1988.0,"R$ 23.830,15","R$ 23.675,45","R$ 0,00","R$ -154,70"
7,1989.0,"R$ 2.560.443,28","R$ 2.552.410,82","R$ 0,00","R$ -8.032,46"
8,1990.0,"R$ 56.475.335,71","R$ 55.458.019,10","R$ 0,00","R$ -1.017.316,61"
9,1991.0,"R$ 406.564,34","R$ 395.687,98","R$ 0,00","R$ -10.876,36"
10,1992.0,"R$ 4.331.570,02","R$ 4.296.713,09","R$ 0,00","R$ -34.856,93"
11,1993.0,"R$ 7.990.921,72","R$ 7.927.534,65","R$ 0,00","R$ -63.387,07"
12,1994.0,"R$ 1.458.700,85","R$ 1.432.077,27","R$ 0,00","R$ -26.623,58"
13,1995.0,"R$ 265.848,26","R$ 262.596,74","R$ 0,00","R$ -3.251,52"
14,1996.0,"R$ 6.775.384,96","R$ 6.563.001,42","R$ 0,00","R$ -212.383,54"
15,1997.0,"R$ 7.632.269,29","R$ 7.422.366,15","R$ 0,00","R$ -209.903,14"
16,1998.0,"R$ 2.388.174,94","R$ 2.363.838,35","R$ 0,00","R$ -24.336,59"
17,1999.0,"R$ 1.333.966,54","R$ 1.304.645,73","R$ 0,00","R$ -29.320,81"
18,2000.0,"R$ 2.337.014,08","R$ 2.332.175,04","R$ 0,00","R$ -4.839,04"
19,2001.0,"R$ 1.544.741,38","R$ 1.483.399,53","R$ 0,00","R$ -61.341,85"
20,2002.0,"R$ 33.412,97","R$ 33.027,85","R$ 0,00","R$ -385,12"
21,2003.0,"R$ 4.737.754,77","R$ 4.272.037,09","R$ 0,00","R$ -465.717,68"
22,2004.0,"R$ 1.168.091,59","R$ 1.129.867,37","R$ 0,00","R$ -38.224,22"
23,2005.0,"R$ 859.527,15","R$ 838.469,25","R$ 0,00","R$ -21.057,90"
24,2006.0,"R$ 2.300.453,24","R$ 2.254.816,55","R$ 56,06","R$ -45.636,69"
25,2007.0,"R$ 3.138.599,42","R$ 3.093.024,83","R$ 45,57","R$ -45.574,59"
26,2008.0,"R$ 4.956.622,62","R$ 4.814.464,28","R$ 67,45","R$ -142.158,34"
27,2009.0,"R$ 168.743.933,58","R$ 168.358.198,40","R$ 133,24","R$ -385.735,18"
28,2010.0,"R$ 4.332.877,15","R$ 4.147.168,40","R$ 182,11","R$ -185.708,75"
29,2011.0,"R$ 8.426.865,09","R$ 8.169.910,22","R$ 2.360,89","R$ -256.954,87"
30,2012.0,"R$ 10.485.369,53","R$ 10.092.494,97","R$ 120,59","R$ -392.874,56"
31,2013.0,"R$ 45.385.333,10","R$ 44.391.035,24","R$ 49,07","R$ -994.297,86"
32,2014.0,"R$ 55.992.088,32","R$ 54.564.815,31","R$ 168,32","R$ -1.427.273,01"
33,2015.0,"R$ 69.773.801,87","R$ 67.876.347,07","R$ 573,13","R$ -1.897.454,80"
34,2016.0,"R$ 1.417.170.258,75","R$ 1.389.933.017,82","R$ 1.084,85","R$ -27.237.240,93"
35,2017.0,"R$ 2.042.976.929,59","R$ 2.025.034.557,73","R$ 0,00","R$ -17.942.371,86"
36,2018.0,"R$ 2.146.490.879,80","R$ 2.127.846.318,23","R$ 0,00","R$ -18.644.561,57"
37,2019.0,"R$ 1.509.235,19","R$ 1.506.616,74","R$ 0,00","R$ -2.618,45"
38,2020.0,"R$ 243.352,14","R$ 233.987,58","R$ 0,00","R$ -9.364,56"
39,2021.0,"R$ 3.432.575,90","R$ 3.391.528,88","R$ 0,00","R$ -41.047,02"
40,2022.0,"R$ 3.698.081,68","R$ 3.684.413,00","R$ 0,00","R$ -13.668,68"
41,2023.0,"R$ 1.938.597,08","R$ 1.903.153,31","R$ 0,00","R$ -35.443,77"

In [35]:
nulos = debitos_divida[(pd.notnull(debitos_divida['dam'])) & (pd.isnull(debitos_divida['id_contribuinte']))]
nulos = nulos['dam'].count()
nulos

1846767

In [36]:
1846767/4205369

0.43914505480969684

In [ ]:
contagem_nulos_por_coluna = debitos_divida.isnull().sum()
contagem_nulos_por_coluna.to_frame()

In [37]:
contagem_nulos_por_coluna = debitos_divida.isnull().sum()
total_registros = len(debitos_divida)

porcentagem_nulos_por_coluna = (contagem_nulos_por_coluna / total_registros) * 100

resultado = pd.DataFrame({
    'Sem Registro': contagem_nulos_por_coluna,
    'Total Registros': total_registros,
    'Porcentagem Nulos (%)': porcentagem_nulos_por_coluna
})

resultado

                      Sem Registro  Total Registros  Porcentagem Nulos (%)
id_imovel                  1698842          4205369              40.396978
dam                              0          4205369               0.000000
id_contribuinte            1846767          4205369              43.914505
ano_fato_gerador                 0          4205369               0.000000
qtd_pavimentos             1698842          4205369              40.396978
area_construida            1806907          4205369              42.966670
imovel_regular                   0          4205369               0.000000
natureza_imovel            1698842          4205369              40.396978
tipo_propriedade           1806907          4205369              42.966670
situacao_edificacao        1806907          4205369              42.966670
bairro                     1698907          4205369              40.398524
atualizacao_cadastro       1706838          4205369              40.587116
qtd_dams_pagas                   0          4205369               0.000000
qtd_dams_abertas                 0          4205369               0.000000
qtd_dams                         0          4205369               0.000000
vlr_pago                         0          4205369               0.000000
vlr_aberto                       0          4205369               0.000000
vlr_total_dam                    0          4205369               0.000000

In [30]:
1846767/4205369

0.43914505480969684

In [10]:
aux = debitos_divida[(debitos_divida['vlr_pago']) > (debitos_divida['vlr_total_dam'])]
aux

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
4,000032f6d93a0abd,b8cf2b607f401535eeaa6b163b2f9024,71fc88ab6bbb201c344d77602867ec09,2016.0,1.0,106.13,1,P,APARTAMENTO,CONSTRUÍDA,TAMARINEIRA,2008-12-11 22:19:53,1,0,1,1946.50,0.0,1852.10
13,00006a4fa855b308,f02cff9218e0fb81eeaa6b163b2f9024,d87e514082d2101ed4613fe022d53698,2016.0,1.0,48.85,1,P,APARTAMENTO,CONSTRUÍDA,IPUTINGA,2008-12-11 22:40:00,1,0,1,212.80,0.0,175.04
17,0000a2cbd951c1ca,35d7656f6131adc4eeaa6b163b2f9024,c2357fdb65f5cbed8e79cf1867e8cc19,2016.0,1.0,174.01,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 21:52:00,1,0,1,2356.70,0.0,2262.30
27,0000c599ab737fa1,720bdd5593728933eeaa6b163b2f9024,4c375f5fe6f11e99cd124eb8021f7dca,2016.0,1.0,125.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 23:02:50,1,0,1,880.90,0.0,786.50
45,0000fe7e1c1dbbe4,620a1ce8ee04f3f5eeaa6b163b2f9024,ec4080f1474d5e63d4613fe022d53698,2016.0,1.0,81.00,1,P,APARTAMENTO,CONSTRUÍDA,BOA VISTA,2008-12-11 16:41:41,1,0,1,644.80,0.0,550.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4205327,NaN,fffe77bd77c1ab46f4df934698e31658,NaN,2006.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,185.40,0.0,182.71
4205340,NaN,ffff29c6afbd6f7f3d648baf21387e6f,NaN,2014.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,412.28,0.0,407.99
4205349,NaN,ffff9c9f7e78fa7be67cda4bf42b9b53,NaN,2015.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,295.72,0.0,291.43
4205351,NaN,ffffa95ab3cedab8eeaa6b163b2f9024,NaN,2016.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,707.84,0.0,693.68
4205366,NaN,ffffe769552b3339a938dbf400be2d91,NaN,2008.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,1,0,1,707.98,0.0,699.94

In [12]:
pago = formatar_moeda(aux['vlr_pago'].sum())
pago

'R$ 6.094.100.679,25'

In [13]:
devido = formatar_moeda(aux['vlr_total_dam'].sum())
devido

'R$ 6.022.166.056,73'

In [17]:
6094100679.25-6022166056.73

71934622.52000046

In [38]:
df = debitos_divida[debitos_divida['id_contribuinte'] == 'e07ae583135dea50be91dcec7d89e48e']
df

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,qtd_dams_pagas,qtd_dams_abertas,qtd_dams,vlr_pago,vlr_aberto,vlr_total_dam
2425789,f7d1389bd0abda28,0632ea8731b55ff5e67cda4bf42b9b53,e07ae583135dea50be91dcec7d89e48e,2015.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,1,1,1,224.3,269.11,458.23
2425790,f7d1389bd0abda28,20d8380967737de490ecf5aaf6be6eb7,e07ae583135dea50be91dcec7d89e48e,2023.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,0,1,1,0.0,677.79,677.79
2425791,f7d1389bd0abda28,4ae6de3dd567102b11babe4a46e18b6d,e07ae583135dea50be91dcec7d89e48e,2018.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,0,1,1,0.0,577.72,577.72
2425792,f7d1389bd0abda28,567292ce8b5f6b73e08920064611a7cf,e07ae583135dea50be91dcec7d89e48e,2017.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,0,1,1,0.0,519.09,519.09
2425793,f7d1389bd0abda28,6fd07ae9cfe9be844c1f696350fff79e,e07ae583135dea50be91dcec7d89e48e,2019.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,0,1,1,0.0,579.84,579.84
2425794,f7d1389bd0abda28,7336064b99239ba9875350beaddc7871,e07ae583135dea50be91dcec7d89e48e,2022.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,0,1,1,0.0,764.80,764.80
2425795,f7d1389bd0abda28,bb368d341253cf98eeaa6b163b2f9024,e07ae583135dea50be91dcec7d89e48e,2016.0,1.0,45.02,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2010-07-27 11:47:22,0,1,1,0.0,467.28,467.28

# CONTRIBUINTE

In [8]:
tbl_contribuinte = r'C:\Users\Consultor\Documents\bases_pesquisa\verificacao\tbl_contribuinte_debito.csv'
contribuinte = pd.read_csv(tbl_contribuinte)
contribuinte

,id_contribuinte,reco_debito,reco_divida_ativa,freq_parcelamento,hist_pagamento_qtd,num_imoveis,pgt_cota_unica
0,e25f07f4638b0b4f344d77602867ec09,2.0,5.0,NaN,1.0,1,NaN
1,eaf4d42d27e17f6e344d77602867ec09,1.0,NaN,NaN,5.0,1,NaN
2,468eb21a43b1bc8e26c4027692f32824,NaN,NaN,1.0,1.0,1,NaN
3,2fce5f00c6de8bb9cd124eb8021f7dca,8.0,33.0,23.0,41.0,17,2.0
4,e07ae583135dea50be91dcec7d89e48e,2.0,1.0,NaN,1.0,1,NaN
...,...,...,...,...,...,...,...
250260,184ce4bb8e1388d2d8b209292c0ce31d,3.0,1.0,7.0,13.0,5,NaN
250261,6f99d715fd3a90861603ecd7ff6be21f,NaN,NaN,NaN,NaN,1,1.0
250262,7cbdd82cba0c7f3b2da5e2e6f6bac27b,1.0,5.0,NaN,1.0,1,NaN
250263,c66f22bdb84e053a76beb59f44c20df3,2.0,8.0,NaN,1.0,1,NaN
250264,fca60a25e68ac124d8b209292c0ce31d,NaN,NaN,NaN,1.0,1,1.0

In [45]:
cota = contribuinte[(pd.notnull(contribuinte['freq_parcelamento'])) & (pd.notnull(contribuinte['pgt_cota_unica']))]
# cota = cota['id_contribuinte'].count()
cota

,id_contribuinte,reco_debito,reco_divida_ativa,freq_parcelamento,hist_pagamento_qtd,num_imoveis,pgt_cota_unica
3,2fce5f00c6de8bb9cd124eb8021f7dca,8.0,33.0,23.0,41.0,17,2.0
19,1f20cc92d28aa9e5d8b209292c0ce31d,NaN,NaN,1.0,2.0,1,1.0
67,3b5a76409f3031400246e2b93c1bf25c,NaN,2.0,1.0,2.0,1,1.0
97,54cea081ed640235344d77602867ec09,NaN,NaN,1.0,1.0,1,1.0
115,1ffd55944ff5024d016a94d4634387ac,NaN,2.0,2.0,5.0,2,2.0
...,...,...,...,...,...,...,...
250207,3871511348d7db6f75234379af146d63,NaN,NaN,1.0,NaN,2,1.0
250212,d478d08218d89a2bacc7ff10b872fdd2,1.0,NaN,1.0,4.0,2,1.0
250226,71d5a5f8e6ab9eeb0246e2b93c1bf25c,NaN,NaN,1.0,4.0,1,1.0
250250,7fbdb48b2d7559c39daa7b7dbb545c1c,NaN,7.0,1.0,1.0,1,1.0
250253,e04409091e28650cacc7ff10b872fdd2,NaN,NaN,1.0,NaN,1,1.0

In [46]:
12341/250265

0.04931172956665934

In [40]:
aux2 = contribuinte[(contribuinte['reco_divida_ativa']) > (contribuinte['reco_debito'])]
aux2

,id_contribuinte,reco_debito,reco_divida_ativa,freq_parcelamento,hist_pagamento_qtd,num_imoveis,pgt_cota_unica
0,e25f07f4638b0b4f344d77602867ec09,2.0,5.0,NaN,1.0,1,NaN
3,2fce5f00c6de8bb9cd124eb8021f7dca,8.0,33.0,23.0,41.0,17,2.0
5,66b905e3134f4ca98e79cf1867e8cc19,2.0,16.0,NaN,NaN,2,NaN
6,ed595c8ee93307839daa7b7dbb545c1c,4.0,15.0,NaN,4.0,5,3.0
11,f62000e8ac6b4b1575234379af146d63,2.0,6.0,NaN,3.0,1,NaN
...,...,...,...,...,...,...,...
250252,ddbb1cbcd73cf7db9daa7b7dbb545c1c,2.0,4.0,1.0,3.0,1,NaN
250254,870832bef7f7ec6ed8b209292c0ce31d,2.0,8.0,NaN,NaN,2,NaN
250259,30e5330bdb4c664bacc7ff10b872fdd2,1.0,9.0,NaN,7.0,1,NaN
250262,7cbdd82cba0c7f3b2da5e2e6f6bac27b,1.0,5.0,NaN,1.0,1,NaN
250263,c66f22bdb84e053a76beb59f44c20df3,2.0,8.0,NaN,1.0,1,NaN

In [41]:
67948/250265

0.27150420554212534

In [39]:
df = contribuinte[contribuinte['id_contribuinte'] == 'e07ae583135dea50be91dcec7d89e48e']
df

,id_contribuinte,reco_debito,reco_divida_ativa,freq_parcelamento,hist_pagamento_qtd,num_imoveis,pgt_cota_unica
4,e07ae583135dea50be91dcec7d89e48e,2.0,1.0,NaN,1.0,1,NaN

In [34]:
contagem_nulos_por_coluna_contribuinte = contribuinte.isnull().sum()
total_registros_contribuinte = len(contribuinte)

porcentagem_nulos = (contagem_nulos_por_coluna_contribuinte / total_registros_contribuinte) * 100

resultado = pd.DataFrame({
    'Contagem Nulos': contagem_nulos_por_coluna_contribuinte,
    'Total Registros': total_registros_contribuinte,
    'Porcentagem Nulos (%)': porcentagem_nulos
})

resultado

                    Contagem Nulos  Total Registros  Porcentagem Nulos (%)
id_contribuinte                  0           250265               0.000000
reco_debito                 107813           250265              43.079536
reco_divida_ativa           136310           250265              54.466266
freq_parcelamento           199736           250265              79.809802
hist_pagamento_qtd           95799           250265              38.279024
num_imoveis                      0           250265               0.000000
pgt_cota_unica              184845           250265              73.859709

# QUERY VERSÃO 2 - ANÁLISES 14/11

## DAM - DÍVIDAS

In [45]:
tbl_debitos_dam = r'C:\Users\Consultor\Documents\bases_pesquisa\verificacao\tbl_dam_debito_2.csv'
debitos_divida = pd.read_csv(tbl_debitos_dam)
debitos_divida

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam
0,fb09bb4434b80ae9,a4ce0d983d87daf30ba9f03948490762,36508256cf126f6afbdc215f5dcc9c51,2020.0,1,58.00,1,P,SALA,CONSTRUÍDA,PAISSANDU,2008-12-11 22:26:39,1080.80,0.00,1080.80
1,cdb6fc0baec18ca9,947726ef6d657fa4875350beaddc7871,c444087f724373939daa7b7dbb545c1c,2022.0,1,110.80,1,P,APARTAMENTO,CONSTRUÍDA,MADALENA,2008-12-11 18:52:27,0.00,2508.44,2508.44
2,d9c9e39c4c4f8ce3,5f6ad6b7a75ce14211babe4a46e18b6d,b340af53f72ff1fdcd124eb8021f7dca,2018.0,1,89.00,1,P,CASA,CONSTRUÍDA,AFOGADOS,2008-12-11 19:54:22,691.70,0.00,691.70
3,870543fc34c438ae,fd6ab9d88cf75642875350beaddc7871,f9004923540036616ffd495caaf8b576,2022.0,1,47.19,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2008-12-11 22:45:44,223.80,0.00,223.80
4,26fe2fe2a920ee0d,d2d0842adc3281e611babe4a46e18b6d,0dedd7fba9ba526dacc7ff10b872fdd2,2018.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,ZUMBI,2008-12-11 22:43:17,359.15,0.00,373.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506522,63b0f5be0c664694,cfc97b6fa2796e3ea7865723b5986f04,570c09175811827b10c0388451f624a3,2004.0,1,78.58,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:28:12,38.73,0.00,41.54
2506523,98972132de4feb79,770da308146328c34c1f696350fff79e,860a8129e829ca8bd8b209292c0ce31d,2019.0,1,290.04,1,P,APARTAMENTO,CONSTRUÍDA,PARNAMIRIM,2008-12-11 22:38:43,6196.60,0.00,6196.60
2506524,9f8a1cf0054c7611,5e34f216f9dfe909875350beaddc7871,16653db9ca871c86acc7ff10b872fdd2,2022.0,1,75.00,1,P,APARTAMENTO,CONSTRUÍDA,PARNAMIRIM,2008-12-11 18:28:38,2022.90,0.00,2022.90
2506525,5e4191f95bbb9f42,2933303f8a9f9c3f4c1f696350fff79e,57f2d89cb1e4895f75234379af146d63,2019.0,1,12.65,1,P,GARAGEM COMERCIAL,CONSTRUÍDA,PARNAMIRIM,2008-12-11 22:38:20,152.52,0.00,152.52
2506526,4d6aa88ff4d3e9d4,2fd04ab41f0e7c9690ecf5aaf6be6eb7,93c33dc86e9d34359843e20fcc67cf28,2023.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:13:04,354.60,69.37,425.73

In [46]:
arq_bairros = r'C:\Users\Consultor\Documents\bases_pesquisa\bairros.xlsx'
tbl_bairros = pd.read_excel(arq_bairros)
tbl_bairros

                  bairro    regiao rpa
0               AFLITOS   NORDESTE  3A
1              AFOGADOS    SUDESTE   5
2             AGUA FRIA      NORTE   2
3   ALTO JOSE BONIFACIO   NORDESTE  3B
4    ALTO JOSE DO PINHO   NORDESTE  3B
..                   ...       ...  ..
89              TORROES      OESTE   4
90                 TOTO    SUDESTE   5
91               VARZEA      OESTE   4
92        VASCO DA GAMA   NORDESTE  3B
93                ZUMBI      OESTE   4

[94 rows x 3 columns]

In [47]:
debitos_divida = pd.merge(debitos_divida, tbl_bairros, on='bairro', how='left')
debitos_divida

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam,regiao,rpa
0,fb09bb4434b80ae9,a4ce0d983d87daf30ba9f03948490762,36508256cf126f6afbdc215f5dcc9c51,2020.0,1,58.00,1,P,SALA,CONSTRUÍDA,PAISSANDU,2008-12-11 22:26:39,1080.80,0.00,1080.80,CENTRO,1
1,cdb6fc0baec18ca9,947726ef6d657fa4875350beaddc7871,c444087f724373939daa7b7dbb545c1c,2022.0,1,110.80,1,P,APARTAMENTO,CONSTRUÍDA,MADALENA,2008-12-11 18:52:27,0.00,2508.44,2508.44,OESTE,4
2,d9c9e39c4c4f8ce3,5f6ad6b7a75ce14211babe4a46e18b6d,b340af53f72ff1fdcd124eb8021f7dca,2018.0,1,89.00,1,P,CASA,CONSTRUÍDA,AFOGADOS,2008-12-11 19:54:22,691.70,0.00,691.70,SUDESTE,5
3,870543fc34c438ae,fd6ab9d88cf75642875350beaddc7871,f9004923540036616ffd495caaf8b576,2022.0,1,47.19,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2008-12-11 22:45:44,223.80,0.00,223.80,OESTE,4
4,26fe2fe2a920ee0d,d2d0842adc3281e611babe4a46e18b6d,0dedd7fba9ba526dacc7ff10b872fdd2,2018.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,ZUMBI,2008-12-11 22:43:17,359.15,0.00,373.90,OESTE,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506522,63b0f5be0c664694,cfc97b6fa2796e3ea7865723b5986f04,570c09175811827b10c0388451f624a3,2004.0,1,78.58,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:28:12,38.73,0.00,41.54,SUL,6
2506523,98972132de4feb79,770da308146328c34c1f696350fff79e,860a8129e829ca8bd8b209292c0ce31d,2019.0,1,290.04,1,P,APARTAMENTO,CONSTRUÍDA,PARNAMIRIM,2008-12-11 22:38:43,6196.60,0.00,6196.60,NORDESTE,3A
2506524,9f8a1cf0054c7611,5e34f216f9dfe909875350beaddc7871,16653db9ca871c86acc7ff10b872fdd2,2022.0,1,75.00,1,P,APARTAMENTO,CONSTRUÍDA,PARNAMIRIM,2008-12-11 18:28:38,2022.90,0.00,2022.90,NORDESTE,3A
2506525,5e4191f95bbb9f42,2933303f8a9f9c3f4c1f696350fff79e,57f2d89cb1e4895f75234379af146d63,2019.0,1,12.65,1,P,GARAGEM COMERCIAL,CONSTRUÍDA,PARNAMIRIM,2008-12-11 22:38:20,152.52,0.00,152.52,NORDESTE,3A
2506526,4d6aa88ff4d3e9d4,2fd04ab41f0e7c9690ecf5aaf6be6eb7,93c33dc86e9d34359843e20fcc67cf28,2023.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:13:04,354.60,69.37,425.73,SUL,6

In [105]:
check_contribuinte = debitos_divida[debitos_divida['id_contribuinte'].isnull()]
check_contribuinte

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam,regiao,rpa
5,6503bfb9ebc00b58,a1bb4e4d67edf0e711babe4a46e18b6d,NaN,2018.0,1,349.37,1,P,CASA,CONSTRUÍDA,VARZEA,2008-12-11 19:32:57,4094.60,0.0,4094.60,OESTE,4
13,db05e7c703107e4a,138a65dd03fa02de11babe4a46e18b6d,NaN,2018.0,1,44.00,1,P,CASA,CONSTRUÍDA,NOVA DESCOBERTA,2008-12-11 22:33:52,180.32,0.0,180.32,NORDESTE,3B
32,3961340c13802c1e,714af9e1586a4785875350beaddc7871,NaN,2022.0,1,NaN,1,T,NaN,NaN,JIQUIA,2008-12-11 22:48:38,916.30,0.0,916.30,SUDESTE,5
37,1cdb5e4ede1d6b04,3878bd8a56cb98e511babe4a46e18b6d,NaN,2018.0,1,224.00,1,P,CASA,CONSTRUÍDA,BOMBA DO HEMETERIO,2008-12-11 17:26:17,4112.50,0.0,4112.50,NORTE,2
47,1f08b81a395b12a0,87653c3f381d6cf7875350beaddc7871,NaN,2022.0,1,130.00,1,P,HOTEL,CONSTRUÍDA,SAO JOSE,2008-12-11 17:07:33,2933.21,0.0,3052.80,CENTRO,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506453,dd243fef4c8fca79,fe5ae23c4112892019002eec9f619408,NaN,2021.0,1,114.39,1,P,APARTAMENTO,CONSTRUÍDA,MADALENA,2008-12-11 22:44:02,1239.40,0.0,1239.40,OESTE,4
2506454,f9ac3214aa7de344,766eea9948ac44bf4c1f696350fff79e,NaN,2019.0,1,165.18,1,P,CASA,CONSTRUÍDA,MANGUEIRA,2008-12-11 22:47:42,952.44,0.0,958.14,SUDESTE,5
2506493,12c707019dcd7ddf,88ae09dc94511eb24c1f696350fff79e,NaN,2019.0,1,118.48,1,P,APARTAMENTO,CONSTRUÍDA,CASA AMARELA,2008-12-11 22:36:32,1236.10,0.0,1452.82,NORDESTE,3A
2506518,b1ff1d4ccf6bb048,0a8dad8d3a0ac7446c624eea554ca8d2,NaN,2003.0,1,NaN,1,T,NaN,NaN,BARRO,2008-12-11 20:29:48,0.00,0.0,17162.31,SUDESTE,5
2506520,0a5a66e028d8bde0,80345260ff7a6073d32be49b2265ff26,NaN,2012.0,1,121.47,1,P,APARTAMENTO,CONSTRUÍDA,CAMPO GRANDE,2008-12-11 17:50:42,179.52,0.0,179.52,NORTE,2

In [48]:
formatar_moeda(debitos_divida['vlr_aberto'].sum())

'R$ 1.169.042.137,47'

In [123]:
soma_por_ano = debitos_divida.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

# Criando a nova coluna 'suposto_valor_devido'
soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

# Formatando as colunas 'vlr_total_dam', 'vlr_pago' e 'vlr_aberto' como moeda
soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1976.0,"R$ 0,00","R$ 861,68","R$ 0,00","R$ 861,68"
1,1980.0,"R$ 0,00","R$ 1.007,60","R$ 0,00","R$ 1.007,60"
2,1981.0,"R$ 0,00","R$ 927,06","R$ 0,00","R$ 927,06"
3,1982.0,"R$ 0,00","R$ 899,67","R$ 0,00","R$ 899,67"
4,1984.0,"R$ 0,00","R$ 962,31","R$ 0,00","R$ 962,31"
5,1986.0,"R$ 0,00","R$ 2.794,37","R$ 0,00","R$ 2.794,37"
6,1987.0,"R$ 0,00","R$ 4.625,46","R$ 0,00","R$ 4.625,46"
7,1988.0,"R$ 0,00","R$ 4.831,22","R$ 0,00","R$ 4.831,22"
8,1989.0,"R$ 0,00","R$ 9.871,41","R$ 0,00","R$ 9.871,41"
9,1990.0,"R$ 33.615.648,94","R$ 45.594.923,03","R$ 1.731.597,26","R$ 11.979.274,09"
10,1991.0,"R$ 5.988.740,31","R$ 10.799.404,26","R$ 1.604.947,64","R$ 4.810.663,95"
11,1992.0,"R$ 76.141.590,26","R$ 88.401.173,16","R$ 1.332.443,86","R$ 12.259.582,90"
12,1993.0,"R$ 17.330.697,79","R$ 19.326.669,69","R$ 158.114,35","R$ 1.995.971,90"
13,1994.0,"R$ 4.411.320,11","R$ 5.716.138,06","R$ 46.435,07","R$ 1.304.817,95"
14,1995.0,"R$ 19.104,58","R$ 1.143.113,41","R$ 43.604,73","R$ 1.124.008,83"
15,1996.0,"R$ 21.524,40","R$ 1.176.760,23","R$ 60.185,58","R$ 1.155.235,83"
16,1997.0,"R$ 18.848,62","R$ 1.092.049,42","R$ 55.029,44","R$ 1.073.200,80"
17,1998.0,"R$ 65.824,73","R$ 2.853.137,33","R$ 1.447.251,33","R$ 2.787.312,60"
18,1999.0,"R$ 11.415,00","R$ 2.572.815,54","R$ 1.082.932,92","R$ 2.561.400,54"
19,2000.0,"R$ 94.100,82","R$ 76.310.786,87","R$ 48.078.550,79","R$ 76.216.686,05"
20,2001.0,"R$ 211.335,59","R$ 28.079.514,44","R$ 1.178.081,92","R$ 27.868.178,85"
21,2002.0,"R$ 130.219,22","R$ 29.024.880,80","R$ 1.801.082,85","R$ 28.894.661,58"
22,2003.0,"R$ 3.912.633,69","R$ 32.630.802,98","R$ 2.496.380,38","R$ 28.718.169,29"
23,2004.0,"R$ 1.474.262,33","R$ 30.111.694,75","R$ 4.540.484,28","R$ 28.637.432,42"
24,2005.0,"R$ 1.105.419,19","R$ 29.421.700,93","R$ 5.018.200,89","R$ 28.316.281,74"
25,2006.0,"R$ 1.042.562,89","R$ 29.345.233,72","R$ 5.863.904,12","R$ 28.302.670,83"
26,2007.0,"R$ 1.253.533,41","R$ 30.203.086,48","R$ 7.336.085,37","R$ 28.949.553,07"
27,2008.0,"R$ 1.535.691,55","R$ 31.705.287,92","R$ 8.633.472,33","R$ 30.169.596,37"
28,2009.0,"R$ 2.550.683,68","R$ 32.966.754,62","R$ 9.575.820,66","R$ 30.416.070,94"
29,2010.0,"R$ 2.764.560,89","R$ 29.976.529,84","R$ 7.310.062,31","R$ 27.211.968,95"
30,2011.0,"R$ 3.660.408,28","R$ 30.677.251,84","R$ 7.863.215,81","R$ 27.016.843,56"
31,2012.0,"R$ 6.376.473,60","R$ 33.322.129,36","R$ 8.749.829,80","R$ 26.945.655,76"
32,2013.0,"R$ 11.594.025,79","R$ 39.196.489,84","R$ 8.585.653,27","R$ 27.602.464,05"
33,2014.0,"R$ 20.242.574,74","R$ 38.635.426,70","R$ 16.003.655,54","R$ 18.392.851,96"
34,2015.0,"R$ 43.366.476,16","R$ 93.293.393,11","R$ 47.577.748,25","R$ 49.926.916,95"
35,2016.0,"R$ 479.910.897,50","R$ 536.545.665,66","R$ 53.586.354,55","R$ 56.634.768,16"
36,2017.0,"R$ 560.135.398,87","R$ 608.184.539,97","R$ 42.247.572,77","R$ 48.049.141,10"
37,2018.0,"R$ 539.684.801,47","R$ 599.508.310,76","R$ 52.011.933,95","R$ 59.823.509,29"
38,2019.0,"R$ 660.826.332,66","R$ 710.335.254,23","R$ 42.238.717,89","R$ 49.508.921,57"
39,2020.0,"R$ 669.055.470,48","R$ 735.771.512,69","R$ 57.672.126,60","R$ 66.716.042,21"
40,2021.0,"R$ 701.858.768,18","R$ 741.094.432,22","R$ 33.065.715,30","R$ 39.235.664,04"
41,2022.0,"R$ 808.151.374,94","R$ 1.117.243.859,47","R$ 303.257.450,44","R$ 309.092.484,53"
42,2023.0,"R$ 758.446.995,73","R$ 1.147.791.741,75","R$ 386.787.495,22","R$ 389.344.746,02"

In [125]:
formatar_moeda(debitos_divida['vlr_aberto'].sum())

'R$ 1.169.042.137,47'

In [126]:
formatar_moeda(debitos_divida['vlr_total_dam'].sum())

'R$ 6.990.079.245,86'

In [127]:
formatar_moeda(debitos_divida['vlr_pago'].sum())

'R$ 5.417.009.716,40'

In [9]:
dams_pagas = debitos_divida[(debitos_divida['vlr_pago'] == debitos_divida['vlr_total_dam'])]
dams_pagas

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam
0,fb09bb4434b80ae9,a4ce0d983d87daf30ba9f03948490762,36508256cf126f6afbdc215f5dcc9c51,2020.0,1,58.00,1,P,SALA,CONSTRUÍDA,PAISSANDU,2008-12-11 22:26:39,1080.80,0.0,1080.80
2,d9c9e39c4c4f8ce3,5f6ad6b7a75ce14211babe4a46e18b6d,b340af53f72ff1fdcd124eb8021f7dca,2018.0,1,89.00,1,P,CASA,CONSTRUÍDA,AFOGADOS,2008-12-11 19:54:22,691.70,0.0,691.70
3,870543fc34c438ae,fd6ab9d88cf75642875350beaddc7871,f9004923540036616ffd495caaf8b576,2022.0,1,47.19,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2008-12-11 22:45:44,223.80,0.0,223.80
5,6503bfb9ebc00b58,a1bb4e4d67edf0e711babe4a46e18b6d,NaN,2018.0,1,349.37,1,P,CASA,CONSTRUÍDA,VARZEA,2008-12-11 19:32:57,4094.60,0.0,4094.60
6,fec6840961b3c1e0,9e2eb89f67725751875350beaddc7871,ba891109554f1511d8b209292c0ce31d,2022.0,1,77.98,1,P,APARTAMENTO,CONSTRUÍDA,BOA VISTA,2008-12-11 16:55:50,908.90,0.0,908.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506519,dd87508955744909,c797ed66da2a0fe74c1f696350fff79e,c36498f9a01be2b552d814da2fe43281,2019.0,1,195.83,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2016-04-11 14:27:12,3838.70,0.0,3838.70
2506520,0a5a66e028d8bde0,80345260ff7a6073d32be49b2265ff26,NaN,2012.0,1,121.47,1,P,APARTAMENTO,CONSTRUÍDA,CAMPO GRANDE,2008-12-11 17:50:42,179.52,0.0,179.52
2506523,98972132de4feb79,770da308146328c34c1f696350fff79e,860a8129e829ca8bd8b209292c0ce31d,2019.0,1,290.04,1,P,APARTAMENTO,CONSTRUÍDA,PARNAMIRIM,2008-12-11 22:38:43,6196.60,0.0,6196.60
2506524,9f8a1cf0054c7611,5e34f216f9dfe909875350beaddc7871,16653db9ca871c86acc7ff10b872fdd2,2022.0,1,75.00,1,P,APARTAMENTO,CONSTRUÍDA,PARNAMIRIM,2008-12-11 18:28:38,2022.90,0.0,2022.90
2506525,5e4191f95bbb9f42,2933303f8a9f9c3f4c1f696350fff79e,57f2d89cb1e4895f75234379af146d63,2019.0,1,12.65,1,P,GARAGEM COMERCIAL,CONSTRUÍDA,PARNAMIRIM,2008-12-11 22:38:20,152.52,0.0,152.52

In [10]:
soma_por_ano = dams_pagas.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'

}).reset_index()

soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)

soma_por_ano

    ano_fato_gerador           vlr_pago      vlr_total_dam vlr_aberto
0             1990.0       R$ 12.026,31       R$ 12.026,31    R$ 0,00
1             1994.0      R$ 494.662,53      R$ 494.662,53    R$ 0,00
2             1995.0          R$ 267,26          R$ 267,26    R$ 0,00
3             1996.0        R$ 4.049,49        R$ 4.049,49    R$ 0,00
4             1997.0        R$ 6.586,08        R$ 6.586,08    R$ 0,00
5             1998.0        R$ 9.699,59        R$ 9.699,59    R$ 0,00
6             1999.0        R$ 4.607,03        R$ 4.607,03    R$ 0,00
7             2000.0       R$ 25.373,99       R$ 25.373,99    R$ 0,00
8             2001.0      R$ 141.533,93      R$ 141.533,93    R$ 0,00
9             2002.0       R$ 16.161,09       R$ 16.161,09    R$ 0,00
10            2003.0    R$ 1.460.972,41    R$ 1.460.972,41    R$ 0,00
11            2004.0      R$ 683.663,43      R$ 683.663,43    R$ 0,00
12            2005.0      R$ 536.298,98      R$ 536.298,98    R$ 0,00
13            2006.0      R$ 395.762,63      R$ 395.762,63    R$ 0,00
14            2007.0      R$ 544.578,80      R$ 544.578,80    R$ 0,00
15            2008.0      R$ 678.119,55      R$ 678.119,55    R$ 0,00
16            2009.0    R$ 1.595.663,53    R$ 1.595.663,53    R$ 0,00
17            2010.0    R$ 1.767.932,63    R$ 1.767.932,63    R$ 0,00
18            2011.0    R$ 2.385.097,46    R$ 2.385.097,46    R$ 0,00
19            2012.0    R$ 4.374.063,06    R$ 4.374.063,06    R$ 0,00
20            2013.0    R$ 7.378.250,96    R$ 7.378.250,96    R$ 0,00
21            2014.0   R$ 15.012.089,07   R$ 15.012.089,07    R$ 0,00
22            2015.0   R$ 36.545.101,70   R$ 36.545.101,70    R$ 0,00
23            2016.0  R$ 463.325.200,38  R$ 463.325.200,38    R$ 0,00
24            2017.0  R$ 497.772.612,36  R$ 497.772.612,36    R$ 0,00
25            2018.0  R$ 375.158.875,55  R$ 375.158.875,55    R$ 0,00
26            2019.0  R$ 480.285.261,25  R$ 480.285.261,25    R$ 0,00
27            2020.0  R$ 476.130.044,57  R$ 476.130.044,57    R$ 0,00
28            2021.0  R$ 532.482.285,37  R$ 532.482.285,37    R$ 0,00
29            2022.0  R$ 607.457.914,18  R$ 607.457.914,18    R$ 0,00
30            2023.0  R$ 334.103.779,74  R$ 334.103.779,74    R$ 0,00

In [96]:
dams_não_pagas = debitos_divida[(debitos_divida['vlr_pago'] == 0)]
dams_não_pagas

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam,regiao,rpa
1,cdb6fc0baec18ca9,947726ef6d657fa4875350beaddc7871,c444087f724373939daa7b7dbb545c1c,2022.0,1,110.80,1,P,APARTAMENTO,CONSTRUÍDA,MADALENA,2008-12-11 18:52:27,0.0,2508.44,2508.44,OESTE,4
8,1104680ccd4612da,a493ca5ae4cc1c23875350beaddc7871,c0a70d3ce84f401d1603ecd7ff6be21f,2022.0,1,58.20,0,P,CASA,CONSTRUÍDA,VARZEA,2013-04-08 10:18:52,0.0,437.22,437.22,OESTE,4
31,1b2de7413021f1cd,03f6b01c2a93e82382743b63d3411fc4,286ce242c77d136bcd124eb8021f7dca,2000.0,1,NaN,1,T,NaN,NaN,IBURA,2008-12-11 20:35:27,0.0,4443.30,4443.30,SUL,6B
53,addbf64d7d35e3a4,61847900c5fd707d875350beaddc7871,def8d26e0443ceb991e796325bc06316,2022.0,1,73.37,1,P,CASA,CONSTRUÍDA,CORDEIRO,2008-12-11 19:04:40,0.0,2370.80,2370.80,OESTE,4
55,492bb9abb8085a22,9034344ee13da727875350beaddc7871,34dbeba05a7085b8112e904585afe88d,2022.0,1,365.87,1,P,CASA,CONSTRUÍDA,IPSEP,2008-12-11 21:05:53,0.0,5934.27,5934.27,SUL,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506499,ced41a4e6e5f31a0,7c9c19a7fd7def2490ecf5aaf6be6eb7,d6be9a7f5b6f0077824df1060a8582ba,2023.0,1,86.21,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2011-12-29 12:36:55,0.0,1932.94,1932.94,SUL,6
2506510,0187778f73ce9f3b,39101f8aa2fbeeac11babe4a46e18b6d,b50f7e5cb17d1e67344d77602867ec09,2018.0,1,396.67,1,P,APARTAMENTO,CONSTRUÍDA,BOA VIAGEM,2008-12-11 23:04:22,0.0,11296.30,11296.30,SUL,6
2506516,b40e990872010408,ff01016eafdb55c00ba9f03948490762,cdb224c18e0998d89daa7b7dbb545c1c,2020.0,3,276.67,1,P,CASA,CONSTRUÍDA,ALTO JOSE DO PINHO,2008-12-11 22:31:29,0.0,1887.95,1887.95,NORDESTE,3B
2506518,b1ff1d4ccf6bb048,0a8dad8d3a0ac7446c624eea554ca8d2,NaN,2003.0,1,NaN,1,T,NaN,NaN,BARRO,2008-12-11 20:29:48,0.0,0.00,17162.31,SUDESTE,5
2506521,7f63463b04256b95,d3412afdc515b469875350beaddc7871,878ed023fa473bede000edc2a2086273,2022.0,1,67.00,1,P,APARTAMENTO,CONSTRUÍDA,JARDIM SAO PAULO,2008-12-11 20:22:01,0.0,587.17,587.17,SUDESTE,5

In [128]:
soma_por_propriedade_nao_pagas = dams_não_pagas.groupby('tipo_propriedade').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_propriedade_nao_pagas['suposto_valor_devido'] = soma_por_propriedade_nao_pagas['vlr_total_dam'] - soma_por_propriedade_nao_pagas['vlr_pago']
soma_por_propriedade_nao_pagas['percentual_pago_%'] = (soma_por_propriedade_nao_pagas['vlr_pago'] / soma_por_propriedade_nao_pagas['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_propriedade_nao_pagas['percentual_dams_%'] = (soma_por_propriedade_nao_pagas['dam'] / 2506527) *100
soma_por_propriedade_nao_pagas['vlr_total_dam'] = soma_por_propriedade_nao_pagas['vlr_total_dam'].apply(formatar_moeda)
soma_por_propriedade_nao_pagas['vlr_pago'] = soma_por_propriedade_nao_pagas['vlr_pago'].apply(formatar_moeda)
soma_por_propriedade_nao_pagas['vlr_aberto'] = soma_por_propriedade_nao_pagas['vlr_aberto'].apply(formatar_moeda)
soma_por_propriedade_nao_pagas['suposto_valor_devido'] = soma_por_propriedade_nao_pagas['suposto_valor_devido'].apply(formatar_moeda)

soma_por_propriedade_nao_pagas = soma_por_propriedade_nao_pagas.sort_values(by='dam', ascending=False)
soma_por_propriedade_nao_pagas

,tipo_propriedade,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%,percentual_dams_%
1,CASA,130156,"R$ 0,00","R$ 250.381.191,07","R$ 229.207.966,92","R$ 250.381.191,07",0.0,5.192683
0,APARTAMENTO,113268,"R$ 0,00","R$ 232.415.891,68","R$ 229.676.521,99","R$ 232.415.891,68",0.0,4.518922
13,LOJA,17096,"R$ 0,00","R$ 80.524.102,00","R$ 79.274.114,27","R$ 80.524.102,00",0.0,0.682059
17,SALA,13840,"R$ 0,00","R$ 27.517.178,79","R$ 27.346.335,81","R$ 27.517.178,79",0.0,0.552158
4,GALPÃO,4610,"R$ 0,00","R$ 46.285.980,19","R$ 43.562.773,24","R$ 46.285.980,19",0.0,0.183920
3,EDIFICAÇÃO ESPECIAL,3847,"R$ 0,00","R$ 80.550.451,15","R$ 71.321.057,36","R$ 80.550.451,15",0.0,0.153479
6,GARAGEM COMERCIAL,1299,"R$ 0,00","R$ 3.531.881,06","R$ 3.496.825,98","R$ 3.531.881,06",0.0,0.051825
15,MOCAMBO,996,"R$ 0,00","R$ 396.848,48","R$ 341.251,05","R$ 396.848,48",0.0,0.039736
10,INDUSTRIA,575,"R$ 0,00","R$ 19.099.884,52","R$ 18.592.867,01","R$ 19.099.884,52",0.0,0.022940
9,HOTEL,506,"R$ 0,00","R$ 7.604.802,74","R$ 7.303.952,21","R$ 7.604.802,74",0.0,0.020187
8,HOSPITAL,187,"R$ 0,00","R$ 9.430.851,82","R$ 9.430.851,82","R$ 9.430.851,82",0.0,0.007461
2,CENTRO COMERCIAL/SERVIÇOS,182,"R$ 0,00","R$ 2.114.090,07","R$ 2.114.090,07","R$ 2.114.090,07",0.0,0.007261
12,INSTITUIÇÃO FINANCEIRA,177,"R$ 0,00","R$ 3.298.775,75","R$ 3.298.775,75","R$ 3.298.775,75",0.0,0.007062
11,INSTITUIÇÃO EDUCACIONAL,142,"R$ 0,00","R$ 5.370.288,56","R$ 5.119.144,70","R$ 5.370.288,56",0.0,0.005665
5,GALPÃO FECHADO,55,"R$ 0,00","R$ 853.106,41","R$ 853.106,41","R$ 853.106,41",0.0,0.002194
18,TEMPLO RELIGIOSO,53,"R$ 0,00","R$ 202.052,60","R$ 202.052,60","R$ 202.052,60",0.0,0.002114
16,POSTO DE ABASTECIMENTO,29,"R$ 0,00","R$ 713.593,70","R$ 543.845,89","R$ 713.593,70",0.0,0.001157
14,LOJA MÚLTIPLA,14,"R$ 0,00","R$ 30.904,96","R$ 30.904,96","R$ 30.904,96",0.0,0.000559
7,GARAGEM RESIDENCIAL,2,"R$ 0,00","R$ 596,54","R$ 596,54","R$ 596,54",0.0,0.000080

In [103]:
# victor_check = dams_não_pagas[(pd.notnull(dams_não_pagas['vlr_total_dam'])) & (dams_não_pagas['vlr_aberto'] == 0)]
# victor_check

victor_check = dams_não_pagas[(dams_não_pagas['vlr_total_dam'] > 0) & (dams_não_pagas['vlr_aberto'] == 0)]
victor_check

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam,regiao,rpa
67,d3af023bb9c7ce69,7df131ce5949364f1c7ba0ec9b15d579,NaN,1998.0,1,198.0,1,P,CASA,CONSTRUÍDA,LINHA DO TIRO,2008-12-11 17:21:58,0.0,0.0,6772.50,NORTE,2
295,eab545fc889111b1,9fe269c599c79b042fdf6d5f8117540c,NaN,2013.0,1,NaN,1,T,NaN,NaN,TEJIPIO,2008-12-11 20:21:15,0.0,0.0,2462.33,SUDESTE,5
454,f6c34b1b230918e1,d1dfaff1c8eb6b044c1f696350fff79e,8f8d2f352efdb55516e1974c2936d3e5,2019.0,1,NaN,1,T,NaN,NaN,VARZEA,2008-12-11 19:28:30,0.0,0.0,4758.49,OESTE,4
564,3b51a3a951f98908,621835a16a6dd810a7865723b5986f04,NaN,2004.0,1,NaN,1,T,NaN,NaN,VASCO DA GAMA,2008-12-11 18:07:23,0.0,0.0,1192.24,NORDESTE,3B
688,b3ed0eecbbdb168b,650843c5829f82bcf4df934698e31658,NaN,2006.0,1,NaN,1,T,NaN,NaN,COQUEIRAL,2008-12-11 20:14:32,0.0,0.0,1848.14,SUDESTE,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506285,9fdc91cd70ae0de3,38e7a028292a87480ba9f03948490762,8f8d2f352efdb55516e1974c2936d3e5,2020.0,1,NaN,1,T,NaN,NaN,PINA,2019-01-29 11:23:24,0.0,0.0,1682.78,SUL,6
2506333,aa652f66e2dc3604,871695bfa5c834ae774ee00e7e174286,b92060a50f4a9e2675234379af146d63,1991.0,1,NaN,1,T,NaN,NaN,VARZEA,2003-06-17 01:01:01,0.0,0.0,6161.76,OESTE,4
2506334,ac9096f78351d4c2,0abc8041d59987962fdf6d5f8117540c,NaN,2013.0,1,NaN,1,T,NaN,NaN,FUNDAO,2008-12-11 17:24:57,0.0,0.0,18173.42,NORTE,2
2506354,1cac489355b43b33,249fdc359c77b737b16f45bf0c933afd,8e4effd24b86a288d0b31b2c677cf560,1996.0,1,63.0,1,P,CASA,CONSTRUÍDA,SANTO AMARO,2008-12-11 16:24:37,0.0,0.0,1087.04,CENTRO,1
2506518,b1ff1d4ccf6bb048,0a8dad8d3a0ac7446c624eea554ca8d2,NaN,2003.0,1,NaN,1,T,NaN,NaN,BARRO,2008-12-11 20:29:48,0.0,0.0,17162.31,SUDESTE,5

In [97]:
formatar_moeda(dams_não_pagas['vlr_aberto'].sum())

'R$ 895.365.724,63'

In [98]:
formatar_moeda(dams_não_pagas['vlr_total_dam'].sum())

'R$ 1.229.502.089,72'

In [100]:
1229502089.72/895365724.63

1.3731842261753746

In [12]:
soma_por_ano = dams_não_pagas.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1976.0,"R$ 0,00","R$ 861,68","R$ 0,00","R$ 861,68"
1,1980.0,"R$ 0,00","R$ 1.007,60","R$ 0,00","R$ 1.007,60"
2,1981.0,"R$ 0,00","R$ 927,06","R$ 0,00","R$ 927,06"
3,1982.0,"R$ 0,00","R$ 899,67","R$ 0,00","R$ 899,67"
4,1984.0,"R$ 0,00","R$ 962,31","R$ 0,00","R$ 962,31"
5,1986.0,"R$ 0,00","R$ 2.794,37","R$ 0,00","R$ 2.794,37"
6,1987.0,"R$ 0,00","R$ 4.625,46","R$ 0,00","R$ 4.625,46"
7,1988.0,"R$ 0,00","R$ 4.831,22","R$ 0,00","R$ 4.831,22"
8,1989.0,"R$ 0,00","R$ 9.871,41","R$ 0,00","R$ 9.871,41"
9,1990.0,"R$ 0,00","R$ 4.251.855,95","R$ 1.731.597,26","R$ 4.251.855,95"
10,1991.0,"R$ 0,00","R$ 3.893.377,21","R$ 1.604.947,64","R$ 3.893.377,21"
11,1992.0,"R$ 0,00","R$ 3.043.629,14","R$ 1.331.516,50","R$ 3.043.629,14"
12,1993.0,"R$ 0,00","R$ 1.448.265,19","R$ 156.235,01","R$ 1.448.265,19"
13,1994.0,"R$ 0,00","R$ 1.088.370,11","R$ 46.314,68","R$ 1.088.370,11"
14,1995.0,"R$ 0,00","R$ 1.106.773,55","R$ 43.535,98","R$ 1.106.773,55"
15,1996.0,"R$ 0,00","R$ 1.124.401,91","R$ 56.126,56","R$ 1.124.401,91"
16,1997.0,"R$ 0,00","R$ 1.028.587,55","R$ 54.973,99","R$ 1.028.587,55"
17,1998.0,"R$ 0,00","R$ 2.781.906,73","R$ 1.447.086,81","R$ 2.781.906,73"
18,1999.0,"R$ 0,00","R$ 2.557.906,34","R$ 1.082.896,57","R$ 2.557.906,34"
19,2000.0,"R$ 0,00","R$ 76.005.115,17","R$ 48.078.550,79","R$ 76.005.115,17"
20,2001.0,"R$ 0,00","R$ 27.438.417,94","R$ 1.178.074,08","R$ 27.438.417,94"
21,2002.0,"R$ 0,00","R$ 28.367.389,93","R$ 1.758.789,64","R$ 28.367.389,93"
22,2003.0,"R$ 0,00","R$ 27.704.261,08","R$ 2.202.256,81","R$ 27.704.261,08"
23,2004.0,"R$ 0,00","R$ 27.926.787,91","R$ 4.029.059,51","R$ 27.926.787,91"
24,2005.0,"R$ 0,00","R$ 27.664.272,96","R$ 4.659.110,12","R$ 27.664.272,96"
25,2006.0,"R$ 0,00","R$ 27.184.248,49","R$ 5.388.777,43","R$ 27.184.248,49"
26,2007.0,"R$ 0,00","R$ 27.859.433,24","R$ 6.688.739,79","R$ 27.859.433,24"
27,2008.0,"R$ 0,00","R$ 29.139.819,58","R$ 7.921.671,83","R$ 29.139.819,58"
28,2009.0,"R$ 0,00","R$ 29.245.732,13","R$ 8.728.818,17","R$ 29.245.732,13"
29,2010.0,"R$ 0,00","R$ 26.170.948,97","R$ 6.540.536,60","R$ 26.170.948,97"
30,2011.0,"R$ 0,00","R$ 25.960.754,44","R$ 7.068.670,43","R$ 25.960.754,44"
31,2012.0,"R$ 0,00","R$ 25.298.800,81","R$ 7.560.069,48","R$ 25.298.800,81"
32,2013.0,"R$ 0,00","R$ 24.951.976,18","R$ 7.489.799,35","R$ 24.951.976,18"
33,2014.0,"R$ 0,00","R$ 13.899.125,52","R$ 12.863.803,28","R$ 13.899.125,52"
34,2015.0,"R$ 0,00","R$ 41.671.275,75","R$ 40.296.478,51","R$ 41.671.275,75"
35,2016.0,"R$ 0,00","R$ 45.408.461,25","R$ 43.682.806,74","R$ 45.408.461,25"
36,2017.0,"R$ 0,00","R$ 28.299.719,85","R$ 26.989.779,25","R$ 28.299.719,85"
37,2018.0,"R$ 0,00","R$ 39.892.331,21","R$ 38.987.387,99","R$ 39.892.331,21"
38,2019.0,"R$ 0,00","R$ 29.897.981,89","R$ 29.558.605,21","R$ 29.897.981,89"
39,2020.0,"R$ 0,00","R$ 34.046.109,12","R$ 33.606.699,34","R$ 34.046.109,12"
40,2021.0,"R$ 0,00","R$ 23.124.222,75","R$ 22.704.145,66","R$ 23.124.222,75"
41,2022.0,"R$ 0,00","R$ 265.091.946,46","R$ 264.994.038,38","R$ 265.091.946,46"
42,2023.0,"R$ 0,00","R$ 254.901.102,63","R$ 254.833.825,24","R$ 254.901.102,63"

In [107]:
dams_pagas_parcialmente = debitos_divida[(debitos_divida['vlr_pago'] > 0) & (debitos_divida['vlr_pago'] < debitos_divida['vlr_total_dam'])]
dams_pagas_parcialmente

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam,regiao,rpa
4,26fe2fe2a920ee0d,d2d0842adc3281e611babe4a46e18b6d,0dedd7fba9ba526dacc7ff10b872fdd2,2018.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,ZUMBI,2008-12-11 22:43:17,359.15,0.00,373.90,OESTE,4
7,80d6391b01890bd1,78546ddc95d5a970875350beaddc7871,17c8b0a9f3f213150246e2b93c1bf25c,2022.0,2,445.24,1,P,CASA,CONSTRUÍDA,PRADO,2008-12-11 22:44:12,618.02,3566.12,4184.14,OESTE,4
11,7972ee883cc96c40,af59680ab5d0bb8c875350beaddc7871,a833c41c11ede4711603ecd7ff6be21f,2022.0,2,280.90,1,P,GALPÃO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 20:40:33,7273.06,0.00,7316.42,SUL,6
17,7758393f3f7b85c2,3e9f571fdec8e63c875350beaddc7871,01783f9c7dcfd63f3f9cf15e6b456837,2022.0,1,97.29,1,P,APARTAMENTO,CONSTRUÍDA,TORRE,2013-10-03 12:42:12,1698.94,0.00,1781.42,OESTE,4
19,54bdab00d64205e0,f15045dabb69376611babe4a46e18b6d,79507b99adeffb9c8e79cf1867e8cc19,2018.0,1,101.55,1,P,APARTAMENTO,CONSTRUÍDA,CAMPO GRANDE,2008-12-11 22:32:00,1372.28,0.00,1477.44,NORTE,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506493,12c707019dcd7ddf,88ae09dc94511eb24c1f696350fff79e,NaN,2019.0,1,118.48,1,P,APARTAMENTO,CONSTRUÍDA,CASA AMARELA,2008-12-11 22:36:32,1236.10,0.00,1452.82,NORDESTE,3A
2506514,d1771e749aa7be64,e347b37e1ca2f537eeaa6b163b2f9024,fc27c17ed3b411e91603ecd7ff6be21f,2016.0,1,47.42,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2008-12-11 18:38:07,223.59,0.00,244.60,OESTE,4
2506517,62c83c0a3ae62748,dc3e9d0e009d9ec10ba9f03948490762,766c351d6ed8954a8e79cf1867e8cc19,2020.0,1,93.87,1,P,APARTAMENTO,CONSTRUÍDA,TORRE,2008-12-11 18:45:27,1092.75,0.00,1096.02,OESTE,4
2506522,63b0f5be0c664694,cfc97b6fa2796e3ea7865723b5986f04,570c09175811827b10c0388451f624a3,2004.0,1,78.58,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:28:12,38.73,0.00,41.54,SUL,6
2506526,4d6aa88ff4d3e9d4,2fd04ab41f0e7c9690ecf5aaf6be6eb7,93c33dc86e9d34359843e20fcc67cf28,2023.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:13:04,354.60,69.37,425.73,SUL,6

In [108]:
victor_check_1 = dams_pagas_parcialmente[(dams_pagas_parcialmente['vlr_total_dam'] > 0) & (dams_pagas_parcialmente['vlr_aberto'] == 0)]
victor_check_1

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam,regiao,rpa
4,26fe2fe2a920ee0d,d2d0842adc3281e611babe4a46e18b6d,0dedd7fba9ba526dacc7ff10b872fdd2,2018.0,1,69.00,1,P,APARTAMENTO,CONSTRUÍDA,ZUMBI,2008-12-11 22:43:17,359.15,0.0,373.90,OESTE,4
11,7972ee883cc96c40,af59680ab5d0bb8c875350beaddc7871,a833c41c11ede4711603ecd7ff6be21f,2022.0,2,280.90,1,P,GALPÃO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 20:40:33,7273.06,0.0,7316.42,SUL,6
17,7758393f3f7b85c2,3e9f571fdec8e63c875350beaddc7871,01783f9c7dcfd63f3f9cf15e6b456837,2022.0,1,97.29,1,P,APARTAMENTO,CONSTRUÍDA,TORRE,2013-10-03 12:42:12,1698.94,0.0,1781.42,OESTE,4
19,54bdab00d64205e0,f15045dabb69376611babe4a46e18b6d,79507b99adeffb9c8e79cf1867e8cc19,2018.0,1,101.55,1,P,APARTAMENTO,CONSTRUÍDA,CAMPO GRANDE,2008-12-11 22:32:00,1372.28,0.0,1477.44,NORTE,2
21,d0a2a55fad5ade09,be6b543d8ca2df6d11babe4a46e18b6d,9d282c558e6f26b5be91dcec7d89e48e,2018.0,1,111.36,1,P,APARTAMENTO,CONSTRUÍDA,GRACAS,2008-12-11 22:20:50,1113.68,0.0,1130.17,NORDESTE,3A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506478,e78b92f13b726b09,090894441196f675875350beaddc7871,9864155a1944610c9daa7b7dbb545c1c,2022.0,1,99.32,1,P,APARTAMENTO,CONSTRUÍDA,PINA,2008-12-11 20:55:53,1592.22,0.0,1639.38,SUL,6
2506493,12c707019dcd7ddf,88ae09dc94511eb24c1f696350fff79e,NaN,2019.0,1,118.48,1,P,APARTAMENTO,CONSTRUÍDA,CASA AMARELA,2008-12-11 22:36:32,1236.10,0.0,1452.82,NORDESTE,3A
2506514,d1771e749aa7be64,e347b37e1ca2f537eeaa6b163b2f9024,fc27c17ed3b411e91603ecd7ff6be21f,2016.0,1,47.42,1,P,APARTAMENTO,CONSTRUÍDA,VARZEA,2008-12-11 18:38:07,223.59,0.0,244.60,OESTE,4
2506517,62c83c0a3ae62748,dc3e9d0e009d9ec10ba9f03948490762,766c351d6ed8954a8e79cf1867e8cc19,2020.0,1,93.87,1,P,APARTAMENTO,CONSTRUÍDA,TORRE,2008-12-11 18:45:27,1092.75,0.0,1096.02,OESTE,4
2506522,63b0f5be0c664694,cfc97b6fa2796e3ea7865723b5986f04,570c09175811827b10c0388451f624a3,2004.0,1,78.58,1,P,APARTAMENTO,CONSTRUÍDA,IMBIRIBEIRA,2008-12-11 21:28:12,38.73,0.0,41.54,SUL,6

In [24]:
formatar_moeda(dams_pagas_parcialmente['vlr_aberto'].sum())

'R$ 273.676.412,84'

In [14]:
soma_por_ano = dams_pagas_parcialmente.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

# Criando a nova coluna 'suposto_valor_devido'
soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

# Formatando as colunas 'vlr_total_dam', 'vlr_pago' e 'vlr_aberto' como moeda
soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

,ano_fato_gerador,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido
0,1990.0,"R$ 33.603.622,63","R$ 41.331.040,77","R$ 0,00","R$ 7.727.418,14"
1,1991.0,"R$ 5.988.740,31","R$ 6.906.027,05","R$ 0,00","R$ 917.286,74"
2,1992.0,"R$ 76.141.590,26","R$ 85.357.544,02","R$ 927,36","R$ 9.215.953,76"
3,1993.0,"R$ 17.330.697,79","R$ 17.878.404,50","R$ 1.879,34","R$ 547.706,71"
4,1994.0,"R$ 3.916.657,58","R$ 4.133.105,42","R$ 120,39","R$ 216.447,84"
5,1995.0,"R$ 18.837,32","R$ 36.072,60","R$ 68,75","R$ 17.235,28"
6,1996.0,"R$ 17.474,91","R$ 48.308,83","R$ 4.059,02","R$ 30.833,92"
7,1997.0,"R$ 12.262,54","R$ 56.875,79","R$ 55,45","R$ 44.613,25"
8,1998.0,"R$ 56.125,14","R$ 61.531,01","R$ 164,52","R$ 5.405,87"
9,1999.0,"R$ 6.807,97","R$ 10.302,17","R$ 36,35","R$ 3.494,20"
10,2000.0,"R$ 68.726,83","R$ 280.297,71","R$ 0,00","R$ 211.570,88"
11,2001.0,"R$ 69.801,66","R$ 499.562,57","R$ 7,84","R$ 429.760,91"
12,2002.0,"R$ 114.058,13","R$ 641.329,78","R$ 42.293,21","R$ 527.271,65"
13,2003.0,"R$ 2.451.661,28","R$ 3.465.569,49","R$ 294.123,57","R$ 1.013.908,21"
14,2004.0,"R$ 790.598,90","R$ 1.501.243,41","R$ 511.424,77","R$ 710.644,51"
15,2005.0,"R$ 569.120,21","R$ 1.221.128,99","R$ 359.090,77","R$ 652.008,78"
16,2006.0,"R$ 646.800,26","R$ 1.765.222,60","R$ 475.126,69","R$ 1.118.422,34"
17,2007.0,"R$ 708.954,61","R$ 1.799.074,44","R$ 647.345,58","R$ 1.090.119,83"
18,2008.0,"R$ 857.572,00","R$ 1.887.348,79","R$ 711.800,50","R$ 1.029.776,79"
19,2009.0,"R$ 955.020,15","R$ 2.125.358,96","R$ 847.002,49","R$ 1.170.338,81"
20,2010.0,"R$ 996.628,26","R$ 2.037.648,24","R$ 769.525,71","R$ 1.041.019,98"
21,2011.0,"R$ 1.275.310,82","R$ 2.331.399,94","R$ 794.545,38","R$ 1.056.089,12"
22,2012.0,"R$ 2.002.410,54","R$ 3.649.265,49","R$ 1.189.760,32","R$ 1.646.854,95"
23,2013.0,"R$ 4.215.774,83","R$ 6.866.262,70","R$ 1.095.853,92","R$ 2.650.487,87"
24,2014.0,"R$ 5.230.485,67","R$ 9.724.212,11","R$ 3.139.852,26","R$ 4.493.726,44"
25,2015.0,"R$ 6.821.374,46","R$ 15.077.015,66","R$ 7.281.269,74","R$ 8.255.641,20"
26,2016.0,"R$ 16.585.697,12","R$ 27.812.004,03","R$ 9.903.547,81","R$ 11.226.306,91"
27,2017.0,"R$ 62.362.786,51","R$ 82.112.207,76","R$ 15.257.793,52","R$ 19.749.421,25"
28,2018.0,"R$ 164.525.925,92","R$ 184.457.104,00","R$ 13.024.545,96","R$ 19.931.178,08"
29,2019.0,"R$ 180.541.071,41","R$ 200.152.011,09","R$ 12.680.112,68","R$ 19.610.939,68"
30,2020.0,"R$ 192.925.425,91","R$ 225.595.359,00","R$ 24.065.427,26","R$ 32.669.933,09"
31,2021.0,"R$ 169.376.482,81","R$ 185.487.924,10","R$ 10.361.569,64","R$ 16.111.441,29"
32,2022.0,"R$ 200.693.460,76","R$ 244.693.998,83","R$ 38.263.412,06","R$ 44.000.538,07"
33,2023.0,"R$ 424.343.215,99","R$ 558.786.859,38","R$ 131.953.669,98","R$ 134.443.643,39"

In [15]:
dams_pagas_superior_a_divida = debitos_divida[(debitos_divida['vlr_pago'] > debitos_divida['vlr_total_dam'])]
dams_pagas_superior_a_divida

Empty DataFrame
Columns: [id_imovel, dam, id_contribuinte, ano_fato_gerador, qtd_pavimentos, area_construida, imovel_regular, natureza_imovel, tipo_propriedade, situacao_edificacao, bairro, atualizacao_cadastro, vlr_pago, vlr_aberto, vlr_total_dam]
Index: []

In [16]:
soma_por_ano = dams_pagas_superior_a_divida.groupby('ano_fato_gerador').agg({
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

# Criando a nova coluna 'suposto_valor_devido'
soma_por_ano['suposto_valor_devido'] = soma_por_ano['vlr_total_dam'] - soma_por_ano['vlr_pago']
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

# Formatando as colunas 'vlr_total_dam', 'vlr_pago' e 'vlr_aberto' como moeda
soma_por_ano['vlr_total_dam'] = soma_por_ano['vlr_total_dam'].apply(formatar_moeda)
soma_por_ano['vlr_pago'] = soma_por_ano['vlr_pago'].apply(formatar_moeda)
soma_por_ano['vlr_aberto'] = soma_por_ano['vlr_aberto'].apply(formatar_moeda)
soma_por_ano['suposto_valor_devido'] = soma_por_ano['suposto_valor_devido'].apply(formatar_moeda)

soma_por_ano

Empty DataFrame
Columns: [ano_fato_gerador, vlr_pago, vlr_total_dam, vlr_aberto, suposto_valor_devido]
Index: []

In [17]:
contagem_nulos_por_coluna = debitos_divida.isnull().sum()
total_registros = len(debitos_divida)

porcentagem_nulos_por_coluna = (contagem_nulos_por_coluna / total_registros) * 100

resultado = pd.DataFrame({
    'Sem Registro': contagem_nulos_por_coluna,
    'Total Registros': total_registros,
    'Porcentagem Nulos (%)': porcentagem_nulos_por_coluna
})

resultado

                      Sem Registro  Total Registros  Porcentagem Nulos (%)
id_imovel                        0          2506527               0.000000
dam                              0          2506527               0.000000
id_contribuinte             147925          2506527               5.901592
ano_fato_gerador                 0          2506527               0.000000
qtd_pavimentos                   0          2506527               0.000000
area_construida             108065          2506527               4.311344
imovel_regular                   0          2506527               0.000000
natureza_imovel                  0          2506527               0.000000
tipo_propriedade            108065          2506527               4.311344
situacao_edificacao         108065          2506527               4.311344
bairro                          65          2506527               0.002593
atualizacao_cadastro          7996          2506527               0.319007
vlr_pago                         0          2506527               0.000000
vlr_aberto                       0          2506527               0.000000
vlr_total_dam                    0          2506527               0.000000

In [18]:
nulos = debitos_divida[(pd.notnull(debitos_divida['dam'])) & (pd.isnull(debitos_divida['id_contribuinte']))]
# nulos = nulos['dam'].count()
nulos

,id_imovel,dam,id_contribuinte,ano_fato_gerador,qtd_pavimentos,area_construida,imovel_regular,natureza_imovel,tipo_propriedade,situacao_edificacao,bairro,atualizacao_cadastro,vlr_pago,vlr_aberto,vlr_total_dam
5,6503bfb9ebc00b58,a1bb4e4d67edf0e711babe4a46e18b6d,NaN,2018.0,1,349.37,1,P,CASA,CONSTRUÍDA,VARZEA,2008-12-11 19:32:57,4094.60,0.0,4094.60
13,db05e7c703107e4a,138a65dd03fa02de11babe4a46e18b6d,NaN,2018.0,1,44.00,1,P,CASA,CONSTRUÍDA,NOVA DESCOBERTA,2008-12-11 22:33:52,180.32,0.0,180.32
32,3961340c13802c1e,714af9e1586a4785875350beaddc7871,NaN,2022.0,1,NaN,1,T,NaN,NaN,JIQUIA,2008-12-11 22:48:38,916.30,0.0,916.30
37,1cdb5e4ede1d6b04,3878bd8a56cb98e511babe4a46e18b6d,NaN,2018.0,1,224.00,1,P,CASA,CONSTRUÍDA,BOMBA DO HEMETERIO,2008-12-11 17:26:17,4112.50,0.0,4112.50
47,1f08b81a395b12a0,87653c3f381d6cf7875350beaddc7871,NaN,2022.0,1,130.00,1,P,HOTEL,CONSTRUÍDA,SAO JOSE,2008-12-11 17:07:33,2933.21,0.0,3052.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506453,dd243fef4c8fca79,fe5ae23c4112892019002eec9f619408,NaN,2021.0,1,114.39,1,P,APARTAMENTO,CONSTRUÍDA,MADALENA,2008-12-11 22:44:02,1239.40,0.0,1239.40
2506454,f9ac3214aa7de344,766eea9948ac44bf4c1f696350fff79e,NaN,2019.0,1,165.18,1,P,CASA,CONSTRUÍDA,MANGUEIRA,2008-12-11 22:47:42,952.44,0.0,958.14
2506493,12c707019dcd7ddf,88ae09dc94511eb24c1f696350fff79e,NaN,2019.0,1,118.48,1,P,APARTAMENTO,CONSTRUÍDA,CASA AMARELA,2008-12-11 22:36:32,1236.10,0.0,1452.82
2506518,b1ff1d4ccf6bb048,0a8dad8d3a0ac7446c624eea554ca8d2,NaN,2003.0,1,NaN,1,T,NaN,NaN,BARRO,2008-12-11 20:29:48,0.00,0.0,17162.31
2506520,0a5a66e028d8bde0,80345260ff7a6073d32be49b2265ff26,NaN,2012.0,1,121.47,1,P,APARTAMENTO,CONSTRUÍDA,CAMPO GRANDE,2008-12-11 17:50:42,179.52,0.0,179.52

# Análise por RPA

In [116]:
soma_por_rpa = debitos_divida.groupby('rpa').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_rpa['suposto_valor_devido'] = soma_por_rpa['vlr_total_dam'] - soma_por_rpa['vlr_pago']
soma_por_rpa['percentual_pago_%'] = (soma_por_rpa['vlr_pago'] / soma_por_rpa['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_rpa['vlr_total_dam'] = soma_por_rpa['vlr_total_dam'].apply(formatar_moeda)
soma_por_rpa['vlr_pago'] = soma_por_rpa['vlr_pago'].apply(formatar_moeda)
soma_por_rpa['vlr_aberto'] = soma_por_rpa['vlr_aberto'].apply(formatar_moeda)
soma_por_rpa['suposto_valor_devido'] = soma_por_rpa['suposto_valor_devido'].apply(formatar_moeda)

soma_por_rpa = soma_por_rpa.sort_values(by='percentual_pago_%', ascending=False)
soma_por_rpa

,rpa,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
4,6,716820,"R$ 1.994.135.928,49","R$ 2.350.180.793,54","R$ 324.797.578,49","R$ 356.044.865,05",84.850320
5,3A,400498,"R$ 1.131.466.025,63","R$ 1.342.773.451,05","R$ 179.654.509,03","R$ 211.307.425,42",84.263360
0,1,266904,"R$ 755.920.303,23","R$ 933.814.821,32","R$ 153.619.283,41","R$ 177.894.518,09",80.949701
2,4,457138,"R$ 766.994.643,13","R$ 1.088.220.931,65","R$ 196.596.176,49","R$ 321.226.288,52",70.481519
1,2,244523,"R$ 316.783.995,52","R$ 466.636.098,02","R$ 100.792.122,09","R$ 149.852.102,50",67.886732
3,5,285045,"R$ 337.197.761,54","R$ 549.163.871,35","R$ 126.835.024,50","R$ 211.966.109,81",61.402029
6,3B,66195,"R$ 62.947.039,86","R$ 142.366.168,21","R$ 45.852.688,91","R$ 79.419.128,35",44.214887
7,6B,69339,"R$ 51.462.253,80","R$ 116.814.379,59","R$ 40.888.157,68","R$ 65.352.125,79",44.054725

In [117]:
soma_por_rpa.to_excel(r'C:\Users\Consultor\Documents\bases_pesquisa\bairro\rpa.xlsx')

# Análise por região

In [113]:
soma_por_regiao = debitos_divida.groupby('regiao').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_regiao['suposto_valor_devido'] = soma_por_regiao['vlr_total_dam'] - soma_por_regiao['vlr_pago']
soma_por_regiao['percentual_pago_%'] = (soma_por_regiao['vlr_pago'] / soma_por_regiao['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_regiao['vlr_total_dam'] = soma_por_regiao['vlr_total_dam'].apply(formatar_moeda)
soma_por_regiao['vlr_pago'] = soma_por_regiao['vlr_pago'].apply(formatar_moeda)
soma_por_regiao['vlr_aberto'] = soma_por_regiao['vlr_aberto'].apply(formatar_moeda)
soma_por_regiao['suposto_valor_devido'] = soma_por_regiao['suposto_valor_devido'].apply(formatar_moeda)

soma_por_regiao = soma_por_regiao.sort_values(by='percentual_pago_%', ascending=False)
soma_por_regiao

,regiao,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
5,SUL,786159,"R$ 2.045.598.182,29","R$ 2.466.995.173,13","R$ 365.685.736,17","R$ 421.396.990,84",82.918613
0,CENTRO,266904,"R$ 755.920.303,23","R$ 933.814.821,32","R$ 153.619.283,41","R$ 177.894.518,09",80.949701
1,NORDESTE,466693,"R$ 1.194.413.065,49","R$ 1.485.139.619,26","R$ 225.507.197,94","R$ 290.726.553,77",80.424295
3,OESTE,457138,"R$ 766.994.643,13","R$ 1.088.220.931,65","R$ 196.596.176,49","R$ 321.226.288,52",70.481519
2,NORTE,244523,"R$ 316.783.995,52","R$ 466.636.098,02","R$ 100.792.122,09","R$ 149.852.102,50",67.886732
4,SUDESTE,285045,"R$ 337.197.761,54","R$ 549.163.871,35","R$ 126.835.024,50","R$ 211.966.109,81",61.402029

In [115]:
soma_por_regiao.to_excel(r'C:\Users\Consultor\Documents\bases_pesquisa\bairro\regiao.xlsx')

# Análise de pagamento por tipo de propriedade ou imóvel

In [129]:
soma_tipo_propriedade = debitos_divida.groupby('tipo_propriedade').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_tipo_propriedade['suposto_valor_devido'] = soma_tipo_propriedade['vlr_total_dam'] - soma_tipo_propriedade['vlr_pago']
soma_tipo_propriedade['percentual_pago_%'] = (soma_tipo_propriedade['vlr_pago'] / soma_tipo_propriedade['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_tipo_propriedade['percentual_dams_%'] = (soma_tipo_propriedade['dam'] / 2506527) *100
soma_tipo_propriedade['vlr_total_dam'] = soma_tipo_propriedade['vlr_total_dam'].apply(formatar_moeda)
soma_tipo_propriedade['vlr_pago'] = soma_tipo_propriedade['vlr_pago'].apply(formatar_moeda)
soma_tipo_propriedade['vlr_aberto'] = soma_tipo_propriedade['vlr_aberto'].apply(formatar_moeda)
soma_tipo_propriedade['suposto_valor_devido'] = soma_tipo_propriedade['suposto_valor_devido'].apply(formatar_moeda)

soma_tipo_propriedade = soma_tipo_propriedade.sort_values(by='percentual_pago_%', ascending=False)
soma_tipo_propriedade

,tipo_propriedade,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%,percentual_dams_%
7,GARAGEM RESIDENCIAL,68,"R$ 93.410,36","R$ 94.840,07","R$ 1.130,84","R$ 1.429,71",98.492504,0.002713
12,INSTITUIÇÃO FINANCEIRA,3385,"R$ 86.957.453,07","R$ 91.808.910,67","R$ 4.605.866,95","R$ 4.851.457,60",94.715701,0.135047
6,GARAGEM COMERCIAL,11989,"R$ 74.023.561,37","R$ 80.179.812,86","R$ 5.947.202,59","R$ 6.156.251,49",92.321943,0.478311
2,CENTRO COMERCIAL/SERVIÇOS,5263,"R$ 32.021.059,91","R$ 35.408.406,43","R$ 3.222.477,27","R$ 3.387.346,52",90.433496,0.209972
16,POSTO DE ABASTECIMENTO,490,"R$ 9.848.672,19","R$ 11.169.245,55","R$ 990.601,75","R$ 1.320.573,36",88.176700,0.019549
17,SALA,161753,"R$ 330.734.222,64","R$ 376.765.806,50","R$ 41.589.924,21","R$ 46.031.583,86",87.782441,6.453272
0,APARTAMENTO,1394642,"R$ 2.530.895.862,75","R$ 2.905.859.249,11","R$ 346.369.961,89","R$ 374.963.386,36",87.096299,55.640414
5,GALPÃO FECHADO,492,"R$ 6.533.954,03","R$ 7.707.191,25","R$ 1.123.157,50","R$ 1.173.237,22",84.777370,0.019629
13,LOJA,115635,"R$ 627.414.710,84","R$ 747.666.911,79","R$ 113.029.901,82","R$ 120.252.200,95",83.916340,4.613355
8,HOSPITAL,1292,"R$ 62.284.560,16","R$ 74.395.409,14","R$ 11.630.411,90","R$ 12.110.848,98",83.720973,0.051545
14,LOJA MÚLTIPLA,196,"R$ 146.424,73","R$ 179.314,72","R$ 32.509,50","R$ 32.889,99",81.657953,0.007820
11,INSTITUIÇÃO EDUCACIONAL,829,"R$ 26.333.647,40","R$ 32.829.969,23","R$ 6.079.193,92","R$ 6.496.321,83",80.212221,0.033074
9,HOTEL,3959,"R$ 54.400.614,80","R$ 67.964.621,41","R$ 12.071.676,65","R$ 13.564.006,61",80.042548,0.157948
3,EDIFICAÇÃO ESPECIAL,22493,"R$ 363.024.399,05","R$ 468.996.562,76","R$ 91.996.781,77","R$ 105.972.163,71",77.404490,0.897377
4,GALPÃO,22568,"R$ 201.220.751,00","R$ 262.484.279,70","R$ 55.953.980,14","R$ 61.263.528,70",76.660115,0.900369
10,INDUSTRIA,2464,"R$ 85.113.852,59","R$ 112.931.207,96","R$ 25.372.727,26","R$ 27.817.355,37",75.367876,0.098303
1,CASA,648184,"R$ 822.376.804,31","R$ 1.144.032.245,73","R$ 280.526.998,90","R$ 321.655.441,42",71.884058,25.859845
18,TEMPLO RELIGIOSO,199,"R$ 566.855,51","R$ 826.162,95","R$ 247.078,52","R$ 259.307,44",68.613039,0.007939
15,MOCAMBO,2561,"R$ 343.775,78","R$ 753.595,96","R$ 347.490,39","R$ 409.820,18",45.618050,0.102173

In [110]:
soma_tipo_propriedade.to_excel(r'C:\Users\Consultor\Documents\bases_pesquisa\bairro\tipo_propri.xlsx')

# Análise de pagamento por Bairro

In [88]:
df_bai = debitos_divida[debitos_divida['rpa'] == '6B']
soma_por_bairro = df_bai.groupby('bairro').agg({
    'dam': 'count',
    'regiao': 'max',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['vlr_total_dam'] - soma_por_bairro['vlr_pago']
soma_por_bairro['percentual_pago_%'] = (soma_por_bairro['vlr_pago'] / soma_por_bairro['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_bairro['vlr_total_dam'] = soma_por_bairro['vlr_total_dam'].apply(formatar_moeda)
soma_por_bairro['vlr_pago'] = soma_por_bairro['vlr_pago'].apply(formatar_moeda)
soma_por_bairro['vlr_aberto'] = soma_por_bairro['vlr_aberto'].apply(formatar_moeda)
soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['suposto_valor_devido'].apply(formatar_moeda)

soma_por_bairro = soma_por_bairro.sort_values(by='percentual_pago_%', ascending=False)
soma_por_bairro

,bairro,dam,regiao,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
1,IBURA,40283,SUL,"R$ 37.799.515,54","R$ 69.951.550,54","R$ 28.337.433,91","R$ 32.152.035,00",54.036709
2,JORDAO,12083,SUL,"R$ 5.918.826,77","R$ 13.073.310,08","R$ 5.029.421,75","R$ 7.154.483,31",45.274125
0,COHAB,16973,SUL,"R$ 7.743.911,49","R$ 33.789.518,97","R$ 7.521.302,02","R$ 26.045.607,48",22.918087

In [68]:
df = soma_por_bairro[soma_por_bairro['bairro'].str.strip() == 'BRASILIA TEIMOSA'] # strip tira os espaços em branco
df

,bairro,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
16,BRASILIA TEIMOSA,8507,"R$ 4.319.569,56","R$ 7.373.771,81","R$ 2.623.094,44","R$ 3.054.202,25",58.58019

In [91]:
soma_por_bairro = debitos_divida.groupby('bairro').agg({
    'dam': 'count',
    'regiao': 'max',
    'rpa': 'max',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['vlr_total_dam'] - soma_por_bairro['vlr_pago']
soma_por_bairro['percentual_pago_%'] = (soma_por_bairro['vlr_pago'] / soma_por_bairro['vlr_total_dam']) * 100
soma_por_bairro['percentual_dams_%'] = (soma_por_bairro['dam'] / 2506527) *100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_bairro['vlr_total_dam'] = soma_por_bairro['vlr_total_dam'].apply(formatar_moeda)
soma_por_bairro['vlr_pago'] = soma_por_bairro['vlr_pago'].apply(formatar_moeda)
soma_por_bairro['vlr_aberto'] = soma_por_bairro['vlr_aberto'].apply(formatar_moeda)
soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['suposto_valor_devido'].apply(formatar_moeda)

soma_por_bairro = soma_por_bairro.sort_values(by='percentual_dams_%', ascending=False)
soma_por_bairro

,bairro,dam,regiao,rpa,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%,percentual_dams_%
12,BOA VIAGEM,497142,SUL,6,"R$ 1.375.638.547,62","R$ 1.596.834.707,14","R$ 204.128.339,87","R$ 221.196.159,52",86.147836,19.833898
49,IMBIRIBEIRA,97520,SUL,6,"R$ 278.190.007,18","R$ 344.233.835,42","R$ 62.979.193,78","R$ 66.043.828,24",80.814254,3.890642
13,BOA VISTA,96724,CENTRO,1,"R$ 212.843.269,87","R$ 257.095.205,06","R$ 39.595.970,47","R$ 44.251.935,19",82.787724,3.858885
91,VARZEA,96426,OESTE,4,"R$ 117.554.350,47","R$ 196.885.434,70","R$ 46.280.313,65","R$ 79.331.084,23",59.706982,3.846996
24,CASA AMARELA,90324,NORDESTE,3A,"R$ 156.241.369,40","R$ 191.507.518,44","R$ 29.592.545,14","R$ 35.266.149,04",81.584979,3.603552
...,...,...,...,...,...,...,...,...,...,...
6,ALTO SANTA TEREZINHA,1034,NORTE,2,"R$ 295.192,56","R$ 7.403.784,04","R$ 292.522,15","R$ 7.108.591,48",3.987050,0.041252
35,DOIS IRMAOS,656,NORDESTE,3A,"R$ 4.916.277,63","R$ 12.330.208,81","R$ 7.231.563,24","R$ 7.413.931,18",39.871812,0.026172
27,CIDADE UNIVERSITARIA,285,OESTE,4,"R$ 2.052.381,90","R$ 19.699.033,45","R$ 3.921.738,20","R$ 17.646.651,55",10.418693,0.011370
69,PEIXINHOS,147,NORTE,2,"R$ 248.872,60","R$ 472.026,51","R$ 112.561,08","R$ 223.153,91",52.724284,0.005865
68,PAU FERRO,2,NORDESTE,3B,"R$ 0,00","R$ 15.904,34","R$ 15.904,34","R$ 15.904,34",0.000000,0.000080

In [93]:
soma_por_bairro.to_excel(r'C:\Users\Consultor\Documents\bases_pesquisa\bairro.xlsx')

In [71]:
soma_por_bairro = dams_não_pagas.groupby('bairro').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['vlr_total_dam'] - soma_por_bairro['vlr_pago']
soma_por_bairro['percentual_pago_%'] = (soma_por_bairro['vlr_pago'] / soma_por_bairro['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_bairro['vlr_total_dam'] = soma_por_bairro['vlr_total_dam'].apply(formatar_moeda)
soma_por_bairro['vlr_pago'] = soma_por_bairro['vlr_pago'].apply(formatar_moeda)
soma_por_bairro['vlr_aberto'] = soma_por_bairro['vlr_aberto'].apply(formatar_moeda)
soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['suposto_valor_devido'].apply(formatar_moeda)

soma_por_bairro = soma_por_bairro.sort_values(by='dam', ascending=False)
soma_por_bairro.head(10)

,bairro,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
12,BOA VIAGEM,35034,"R$ 0,00","R$ 143.712.693,80","R$ 138.230.961,91","R$ 143.712.693,80",0.0
91,VARZEA,21822,"R$ 0,00","R$ 71.999.841,60","R$ 40.000.996,81","R$ 71.999.841,60",0.0
49,IMBIRIBEIRA,15239,"R$ 0,00","R$ 48.075.993,92","R$ 47.676.440,65","R$ 48.075.993,92",0.0
45,IBURA,15088,"R$ 0,00","R$ 28.757.925,23","R$ 26.432.231,76","R$ 28.757.925,23",0.0
31,CORDEIRO,11294,"R$ 0,00","R$ 35.885.131,11","R$ 23.118.233,30","R$ 35.885.131,11",0.0
1,AFOGADOS,11236,"R$ 0,00","R$ 38.497.016,56","R$ 24.235.818,49","R$ 38.497.016,56",0.0
13,BOA VISTA,10732,"R$ 0,00","R$ 30.373.046,77","R$ 29.596.984,75","R$ 30.373.046,77",0.0
51,IPUTINGA,10650,"R$ 0,00","R$ 47.968.800,56","R$ 22.467.832,51","R$ 47.968.800,56",0.0
24,CASA AMARELA,9202,"R$ 0,00","R$ 25.658.165,40","R$ 21.421.831,52","R$ 25.658.165,40",0.0
53,JARDIM SAO PAULO,7867,"R$ 0,00","R$ 17.889.111,44","R$ 13.553.518,67","R$ 17.889.111,44",0.0

In [70]:
df = soma_por_bairro[soma_por_bairro['bairro'].str.strip() == 'BRASILIA TEIMOSA'] # strip tira os espaços em branco
df

,bairro,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
16,BRASILIA TEIMOSA,2343,"R$ 0,00","R$ 2.753.310,75","R$ 2.372.386,52","R$ 2.753.310,75",0.0

In [57]:
soma_por_bairro = dams_não_pagas.groupby('bairro').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['vlr_total_dam'] - soma_por_bairro['vlr_pago']
soma_por_bairro['percentual_pago_%'] = (soma_por_bairro['vlr_pago'] / soma_por_bairro['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_por_bairro = soma_por_bairro.sort_values(by='vlr_total_dam', ascending=False)
soma_por_bairro['vlr_total_dam'] = soma_por_bairro['vlr_total_dam'].apply(formatar_moeda)
soma_por_bairro['vlr_pago'] = soma_por_bairro['vlr_pago'].apply(formatar_moeda)
soma_por_bairro['vlr_aberto'] = soma_por_bairro['vlr_aberto'].apply(formatar_moeda)
soma_por_bairro['suposto_valor_devido'] = soma_por_bairro['suposto_valor_devido'].apply(formatar_moeda)


soma_por_bairro.head(10)

,bairro,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
12,BOA VIAGEM,35034,"R$ 0,00","R$ 143.712.693,80","R$ 138.230.961,91","R$ 143.712.693,80",0.0
91,VARZEA,21822,"R$ 0,00","R$ 71.999.841,60","R$ 40.000.996,81","R$ 71.999.841,60",0.0
49,IMBIRIBEIRA,15239,"R$ 0,00","R$ 48.075.993,92","R$ 47.676.440,65","R$ 48.075.993,92",0.0
51,IPUTINGA,10650,"R$ 0,00","R$ 47.968.800,56","R$ 22.467.832,51","R$ 47.968.800,56",0.0
1,AFOGADOS,11236,"R$ 0,00","R$ 38.497.016,56","R$ 24.235.818,49","R$ 38.497.016,56",0.0
31,CORDEIRO,11294,"R$ 0,00","R$ 35.885.131,11","R$ 23.118.233,30","R$ 35.885.131,11",0.0
70,PINA,7055,"R$ 0,00","R$ 31.836.070,82","R$ 24.952.486,68","R$ 31.836.070,82",0.0
13,BOA VISTA,10732,"R$ 0,00","R$ 30.373.046,77","R$ 29.596.984,75","R$ 30.373.046,77",0.0
45,IBURA,15088,"R$ 0,00","R$ 28.757.925,23","R$ 26.432.231,76","R$ 28.757.925,23",0.0
80,SANTO AMARO,7033,"R$ 0,00","R$ 27.264.610,98","R$ 26.337.866,83","R$ 27.264.610,98",0.0

---

# Análise de pagamento por edificação

In [111]:
soma_tipo_edificacao = debitos_divida.groupby('natureza_imovel').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_tipo_edificacao['suposto_valor_devido'] = soma_tipo_edificacao['vlr_total_dam'] - soma_tipo_edificacao['vlr_pago']
soma_tipo_edificacao['percentual_pago_%'] = (soma_tipo_edificacao['vlr_pago'] / soma_tipo_edificacao['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_tipo_edificacao['vlr_total_dam'] = soma_tipo_edificacao['vlr_total_dam'].apply(formatar_moeda)
soma_tipo_edificacao['vlr_pago'] = soma_tipo_edificacao['vlr_pago'].apply(formatar_moeda)
soma_tipo_edificacao['vlr_aberto'] = soma_tipo_edificacao['vlr_aberto'].apply(formatar_moeda)
soma_tipo_edificacao['suposto_valor_devido'] = soma_tipo_edificacao['suposto_valor_devido'].apply(formatar_moeda)

soma_tipo_edificacao = soma_tipo_edificacao.sort_values(by='percentual_pago_%', ascending=False)
soma_tipo_edificacao

,natureza_imovel,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
0,P,2398527,"R$ 5.314.436.357,69","R$ 6.422.162.474,92","R$ 1.001.145.670,64","R$ 1.107.726.117,23",82.751509
1,T,108000,"R$ 102.573.358,71","R$ 567.916.770,94","R$ 167.896.466,83","R$ 465.343.412,23",18.061336

In [114]:
soma_tipo_edificacao.to_excel(r'C:\Users\Consultor\Documents\bases_pesquisa\bairro\edificacao.xlsx')

In [39]:
soma_qtd_pavimentos = debitos_divida.groupby('qtd_pavimentos').agg({
    'dam': 'count',
    'vlr_pago': 'sum',
    'vlr_total_dam': 'sum',
    'vlr_aberto': 'sum'
}).reset_index()

soma_qtd_pavimentos['suposto_valor_devido'] = soma_qtd_pavimentos['vlr_total_dam'] - soma_qtd_pavimentos['vlr_pago']
soma_qtd_pavimentos['percentual_pago_%'] = (soma_qtd_pavimentos['vlr_pago'] / soma_qtd_pavimentos['vlr_total_dam']) * 100
# soma_por_ano['diferenca_devido_aberto'] = soma_por_ano['suposto_valor_devido'] - soma_por_ano['vlr_aberto']

soma_qtd_pavimentos['vlr_total_dam'] = soma_qtd_pavimentos['vlr_total_dam'].apply(formatar_moeda)
soma_qtd_pavimentos['vlr_pago'] = soma_qtd_pavimentos['vlr_pago'].apply(formatar_moeda)
soma_qtd_pavimentos['vlr_aberto'] = soma_qtd_pavimentos['vlr_aberto'].apply(formatar_moeda)
soma_qtd_pavimentos['suposto_valor_devido'] = soma_qtd_pavimentos['suposto_valor_devido'].apply(formatar_moeda)

soma_qtd_pavimentos = soma_qtd_pavimentos.sort_values(by='percentual_pago_%', ascending=False)
soma_qtd_pavimentos

,qtd_pavimentos,dam,vlr_pago,vlr_total_dam,vlr_aberto,suposto_valor_devido,percentual_pago_%
32,32,8,"R$ 11.437,63","R$ 11.437,63","R$ 0,00","R$ 0,00",100.000000
28,28,33,"R$ 312.000,96","R$ 313.119,56","R$ 1.118,60","R$ 1.118,60",99.642756
22,22,215,"R$ 123.523,40","R$ 124.855,93","R$ 1.039,08","R$ 1.332,53",98.932746
18,18,213,"R$ 4.562.166,47","R$ 4.669.657,85","R$ 71.953,03","R$ 107.491,38",97.698089
24,24,116,"R$ 1.469.342,63","R$ 1.513.103,34","R$ 34.053,81","R$ 43.760,71",97.107884
27,27,278,"R$ 109.718,76","R$ 113.169,90","R$ 2.185,41","R$ 3.451,14",96.950479
21,21,49,"R$ 5.360.990,96","R$ 5.531.663,67","R$ 169.700,47","R$ 170.672,71",96.914622
30,30,7,"R$ 31.077,47","R$ 32.484,53","R$ 1.023,77","R$ 1.407,06",95.668523
16,16,209,"R$ 10.316.336,21","R$ 10.827.773,44","R$ 459.708,95","R$ 511.437,23",95.276617
14,14,241,"R$ 4.712.862,12","R$ 4.950.629,88","R$ 173.958,18","R$ 237.767,76",95.197222
29,29,2,"R$ 7.615,09","R$ 8.028,10","R$ 413,01","R$ 413,01",94.855445
34,36,47,"R$ 11.994,64","R$ 12.849,70","R$ 719,53","R$ 855,06",93.345681
20,20,115,"R$ 3.219.645,85","R$ 3.456.691,29","R$ 164.067,77","R$ 237.045,44",93.142418
6,6,3320,"R$ 44.514.939,76","R$ 47.826.725,32","R$ 3.080.119,82","R$ 3.311.785,56",93.075450
11,11,231,"R$ 8.046.353,29","R$ 8.731.992,51","R$ 671.744,71","R$ 685.639,22",92.147964
15,15,218,"R$ 3.939.814,66","R$ 4.329.980,33","R$ 366.114,49","R$ 390.165,67",90.989205
33,34,35,"R$ 184.449,46","R$ 202.790,91","R$ 17.446,96","R$ 18.341,45",90.955487
17,17,293,"R$ 5.474.705,04","R$ 6.020.250,48","R$ 439.401,34","R$ 545.545,44",90.938160
35,38,80,"R$ 142.840,43","R$ 157.881,94","R$ 13.986,62","R$ 15.041,51",90.472938
4,4,2907,"R$ 82.327.143,88","R$ 92.371.216,74","R$ 9.338.306,50","R$ 10.044.072,86",89.126404
9,9,278,"R$ 14.690.281,47","R$ 16.942.267,28","R$ 1.485.117,96","R$ 2.251.985,81",86.707884
7,7,588,"R$ 25.775.370,86","R$ 29.889.718,17","R$ 4.082.107,03","R$ 4.114.347,31",86.234908
5,5,993,"R$ 58.660.966,68","R$ 68.123.338,68","R$ 9.292.189,57","R$ 9.462.372,00",86.109941
13,13,779,"R$ 10.714.735,83","R$ 12.535.202,67","R$ 1.749.535,23","R$ 1.820.466,84",85.477165
8,8,272,"R$ 17.214.996,58","R$ 20.205.935,33","R$ 2.950.564,75","R$ 2.990.938,75",85.197722
12,12,193,"R$ 10.973.942,58","R$ 13.120.521,66","R$ 2.023.951,99","R$ 2.146.579,08",83.639529
26,26,8,"R$ 121.289,82","R$ 145.609,22","R$ 24.282,46","R$ 24.319,40",83.298173
3,3,11957,"R$ 139.415.205,10","R$ 175.926.313,59","R$ 33.701.149,83","R$ 36.511.108,49",79.246363
2,2,153514,"R$ 726.629.672,12","R$ 933.050.291,64","R$ 193.886.390,23","R$ 206.420.619,52",77.876796
1,1,2328647,"R$ 4.227.399.258,41","R$ 5.512.479.835,07","R$ 898.996.234,98","R$ 1.285.080.576,66",76.687795
23,23,266,"R$ 325.938,00","R$ 438.668,23","R$ 108.427,81","R$ 112.730,23",74.301711
25,25,64,"R$ 103.412,87","R$ 147.394,07","R$ 42.696,39","R$ 43.981,20",70.160808
10,10,240,"R$ 9.579.894,77","R$ 14.139.192,43","R$ 4.504.848,77","R$ 4.559.297,66",67.754186
0,0,47,"R$ 17.291,16","R$ 26.363,95","R$ 8.868,20","R$ 9.072,79",65.586378
19,19,48,"R$ 508.429,80","R$ 1.686.311,53","R$ 1.162.802,57","R$ 1.177.881,73",30.150408
36,41,3,"R$ 71,64","R$ 740,52","R$ 668,88","R$ 668,88",9.674283
31,31,5,"R$ 0,00","R$ 7.675,15","R$ 7.675,15","R$ 7.675,15",0.000000
37,60,2,"R$ 0,00","R$ 42,92","R$ 42,92","R$ 42,92",0.000000
38,75,2,"R$ 0,00","R$ 658,96","R$ 658,96","R$ 658,96",0.000000
39,99,4,"R$ 0,00","R$ 6.861,74","R$ 6.861,74","R$ 6.861,74",0.000000

# CONTRIBUINTE

In [94]:
tbl_contribuinte = r'C:\Users\Consultor\Documents\bases_pesquisa\verificacao\tbl_contribuinte_db_2.csv'
contribuinte = pd.read_csv(tbl_contribuinte)
contribuinte

,id_contribuinte,reco_debito,reco_divida_ativa,freq_parcelamento,hist_pagamento_qtd,num_imoveis,pgt_cota_unica,hist_aberto_qtd,hist_dams_totais
0,00001a3e5b2177499daa7b7dbb545c1c,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
1,00003a695da4777aec557718ffae83ea,NaN,NaN,NaN,NaN,1,NaN,NaN,8.0
2,000046c85d18a6f7968646cfc1e328f2,NaN,NaN,NaN,NaN,1,1.0,NaN,8.0
3,0000b23be5378f1b8e79cf1867e8cc19,NaN,NaN,1.0,1.0,4,4.0,NaN,32.0
4,00014b72ca2a255bd4613fe022d53698,1.0,NaN,NaN,5.0,2,1.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
250260,ffff0e3e56845cdf1603ecd7ff6be21f,1.0,1.0,2.0,1.0,1,NaN,2.0,7.0
250261,ffff3836dbf935321bc34267b5521a39,NaN,NaN,NaN,2.0,1,NaN,NaN,8.0
250262,ffff63826b501d84d8b209292c0ce31d,1.0,NaN,NaN,NaN,2,NaN,1.0,8.0
250263,ffffc6563e67d8b38e79cf1867e8cc19,NaN,NaN,NaN,3.0,3,2.0,NaN,14.0
250264,ffffe7d2325d80e6d8b209292c0ce31d,NaN,3.0,NaN,4.0,1,NaN,2.0,12.0

In [95]:
contagem_nulos_por_coluna_contribuinte = contribuinte.isnull().sum()
total_registros_contribuinte = len(contribuinte)

porcentagem_nulos = (contagem_nulos_por_coluna_contribuinte / total_registros_contribuinte) * 100

resultado = pd.DataFrame({
    'Contagem Nulos': contagem_nulos_por_coluna_contribuinte,
    'Total Registros': total_registros_contribuinte,
    'Porcentagem Nulos (%)': porcentagem_nulos
})

resultado

                    Contagem Nulos  Total Registros  Porcentagem Nulos (%)
id_contribuinte                  0           250265               0.000000
reco_debito                 107813           250265              43.079536
reco_divida_ativa           136310           250265              54.466266
freq_parcelamento           199736           250265              79.809802
hist_pagamento_qtd           95799           250265              38.279024
num_imoveis                      0           250265               0.000000
pgt_cota_unica              184845           250265              73.859709
hist_aberto_qtd              97724           250265              39.048209
hist_dams_totais             29777           250265              11.898188